<script>
	var GET_ALL_SLOTS_API = "<?php echo $this->getAllSlotsAPI;?>";
	var GET_LIVE_BOOKINGS_API = "<?php echo $this->getLiveBookingsAPI;?>";

</script>

<div class="row" ng-controller="bookings">
	<div class="col-xs-12">
		<h3 class="page-header">Bookings Management</h3>
	</div>
	
	<div class=" well col-xs-12">
		<h4 class="page-header">Search</h4>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group col-sm-6">
					<input ng-model="searchByName" class="form-control" placeholder="Search By Name"/>
				</div>
				<div class="form-group col-sm-6">
					<input ng-model="search.mobile_no" class="form-control" placeholder="Search By Mobile"/>
				</div>
				<div class="form-group col-sm-6">
					<select ng-model="search.slot"  class="form-control">
						<option value=''>-- Select Slot --</option>
						<option ng-repeat="slot in slots" value="{{slot.slot}}">{{slot.slot}}</option>
					</select>
				</div>
				
				<div class="form-group col-sm-6">
					<input ng-model="search.email_id" class="form-control" placeholder="Search By Email"/>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-xs-12">
		<div class="row" ng-repeat="booking in bookings|filter:search|filter:searchByName">
			<div class="col-xs-12">
				<div class="well">
				<h4><strong>{{booking.first_name}} &nbsp; {{booking.last_name}}</strong></h4>
				<p>Date : {{booking.booking_date}} &nbsp; &nbsp; Slot : {{booking.slot}}</p>
				<p>Mobile :  {{booking.mobile_no}}</p>
				<p>Email :  {{booking.email_id}}</p>
				</div>
			</div>
		</div>
	
	</div>

</div>