<style>
	.calTable{
		border:2px solid #3399ff !important;
		border-collapse: separate;
	}
	.calHead > th{
		background-color:#3399ff !important;
		color:#FFF;
		border: 0!important;
	}
	.calTable td.selected{
		background-color: #3399ff;
	}

</style>
<script>
	var GET_ALL_SLOTS_API = "<?php echo $this->getAllSlotsAPI;?>";
	var BOOKING_API = "<?php echo $this->bookingAPI;?>";
	var MAINTENANCE_API = "<?php echo $this->maintenanceAPI;?>";
	var CANCEL_MAINTENANCE_API = "<?php echo $this->cancelMaintenanceAPI;?>";
	var CANCEL_BOOKING_API = "<?php echo $this->cancelBookingAPI;?>";

</script>

<div class="row" ng-controller="dashboard">
<div class="col-xs-12">

			 <h4 class="text-center"><b>DashBoard</b></h4>
			<table class="calTable table table-bordered text-center" id="calTable">
			<thead>
            <tr class="calHead">
                <th colspan="1" class="text-center"><span class="fa fa-angle-double-left" ng-click="goPrevMonth()"></span></th>
                <th colspan="5" class="text-center">{{monthsArr[currentCalendarMonth]}}&nbsp; - &nbsp;{{currentCalendarYear}}</th>
                <th colspan="1"><span class="fa fa-angle-double-right"  ng-click="goNextMonth()"></span></th>
            </tr>
            </thead>
            <tbody>
        	<tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
       		</tr>
       		<tr ng-repeat="week in weeksArr">
       			<td ng-class="{'disabled':(!date|| date <= yesterDayDate), 'selected':(date && date == selectedDate)}" ng-click="selectDate($event, date)" ng-repeat="date in week track by $index" >
       				{{date?date.getDate():''}}
       			</td>
       		</tr>
       		<tr id="slot-tr">
                <td colspan='7'>
                <div class="well" style="border:2px solid;">
                    <div class="container-fluid">
                    <div class="row">
                	<div class="col-xs-12" ng-if="slotLoading">
                     <b><i class="fa fa-spinner fa-pulse fa-3x" ></i></b> 
                     <hr/>
                     </div>
                     
                     <div class="col-xs-{{12/(totalCourts)}}" ng-repeat="courtSlot in slotDetails">
                     	<h3 class="text-center">{{courtSlot.court_name}}</h3>
                     	<table class="table table-striped table-bordered">
                     		<thead>
                     			<tr>
                     				<th>Slot</th>
                     				<th></th>
                     			</tr>
                     		</thead>
                     		<tbody>
                     			<tr>
                     			<tr ng-repeat="slot in courtSlot.slots">
                     			<td>{{slot.slot}}</td>
                     			<td ng-class="{'bg-danger':slot.is_maintenance == '1'}">
                     				<div class="col-xs-12" ng-if="slot.is_booked == '0' && slot.is_maintenance =='0' && selectedDate > yesterdayDate">
                     					<button type="button" class="btn btn-xs btn-primary" ng-click="selectSlotForBooking(slot)">Book Now</button> <?php if($this->isAdmin){?> &nbsp; &nbsp; <button type="button" class="btn btn-xs btn-warning" ng-click="selectSlotForMaintenance(slot)">Maintanence</button><?php }?>
                     				</div>
                     				<div class="col-xs-12" ng-if="slot.is_booked == '1'">
                     					<p ng-if="slot.status == '-1'">Related Slot Booked</p>
                     					<a ng-if="slot.status != '-1'" href="javascript:void(0)" ng-click="showbookingDetails(slot)">{{slot.first_name+" "+slot.last_name}} &nbsp;&nbsp; <button class="btn btn-xs" ng-class="{'btn-info':(slot.booked_by == 1)}"><small>{{(slot.booked_by == 1)?'Manual':'Online'}}</small></button> <button class="btn btn-xs btn-warning" ng-if="slot.is_booked_combo_offer == 1"><small>Combo Offer</small></button></a><?php if($this->isAdmin){?> &nbsp;&nbsp;<button ng-if="slot.status != '-1'" class="btn btn-xs btn-danger" ng-click="showCancelBooking(slot)">Cancel Booking</button><?php }?>
                     				</div>
                     				<div class="col-xs-12" ng-if="slot.is_maintenance == '1'">
                     					Down For Maintenance
                     					<?php if($this->isAdmin){?><button class="btn btn-warning btn-xs" type="button" ng-click="showCancelMaintenance(slot)">Cancel Maintenance</button><?php }?>
                     				</div>
                     				
                     			</td>
                     		</tr>
                     		</tbody>
                     		
                     	</table>
                     	</div>
                     </div>
                     </div>
                     
                     </div>
                </td>
            </tr>
            </tbody>
      	</table>
			
	</div>

<!-- Maintenance Modal -->
<div class="modal fade" id="maintenance" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Maintenance</h4>
                </div>
                <div class="modal-body">
                	<form ng-submit="maintenance()">
						<div class="form-group col-md-6">
                            {{selectedDate.yyyymmdd()}}
                        </div>
                        <div class="form-group col-md-6">
                        	{{selectedSlot.slot}}
                        </div>
                        <div class="form-group">
                        	<label>Comments</label>
							<textarea ng-model="maintenanceDetails.maintenance_comments" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        

                    </form>
                </div>
            </div>
        </div>
    </div>
    

<!-- Cancel Maintenance Modal -->
<div class="modal fade" id="cancel-maintenance" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cancel Maintenance</h4>
                </div>
                <div class="modal-body">
                	<form ng-submit="cancelMaintenance()">
						<div class="form-group col-md-6">
                            {{selectedDate.yyyymmdd()}}
                        </div>
                        <div class="form-group col-md-6">
                        	{{selectedSlot.slot}}
                        </div>
                        <div class="form-group">
                        	<label>Comments</label>
							<textarea ng-model="maintenanceDetails.release_comments" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        

                    </form>
                </div>
            </div>
        </div>
    </div>
    

<!-- Cancel Booking Modal -->
<div class="modal fade" id="cancel-booking" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cancel Booking</h4>
                </div>
                <div class="modal-body">
                	<form ng-submit="cancelBooking()">
						<div class="form-group col-md-6">
                            <b>Name :</b> {{selectedSlot.first_name+" "+slot.last_name}}
                        </div>
                        <div class="form-group col-md-6">
                        	<b>Booking ID :</b> {{selectedSlot.booking_id}}
                        </div>
                        <div class="form-group">
                        	<label>Comments</label>
							<textarea ng-model="bookingDetails.cancel_comments" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        

                    </form>
                </div>
            </div>
        </div>
    </div>
    

<!-- Modal -->
    <div class="modal fade" id="book" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Booking Information</h4>
                </div>
                <div class="modal-body">
                	<p> Please review and confirm that you would like to request the following slot:</p>
                    <form ng-submit="book()">
						<div class="form-group col-md-6">
                            {{selectedDate.yyyymmdd()}}
                        </div>
                        <div class="form-group col-md-6">
                        	{{selectedSlot.slot}}
                        </div>
                        <div class="row" style="margin-top:0px;">
                        <div class="col-xs-12" style="padding-top:0px">
						<h4 class="page-header" style="margin-top:0px"><label>Contact Information *</label></h4>
						</div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Enter First Name" ng-model="bookingDetails.first_name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Enter Last Name" ng-model="bookingDetails.last_name" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mobile*</label>
                            <input type="number" class="form-control col-md-6" placeholder="Enter Mobile No" ng-model="bookingDetails.mobile_no" required>

                        </div>
                        <div class="form-group">
                            <label for="pwd">Email*</label>
                            <input type="email" class="form-control col-md-6" placeholder="Enter email" ng-model="bookingDetails.email_id" required>
                        </div>
                        <h5>Slot Advance Payment is Non-Refundable and Non-Transferable</h5>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="isAgreed"><h4 class="redText">I agree to pay the Remaining Amount at the Venue,Slot Advance Payment is Non-Refundable and Non-Transferable</h4>
								</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" ng-show="isAgreed" ng-disabled="buttonClicked" class="btn btn-primary">Book</button>
                        </div>
                        

                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- View Slotbooking Modal -->
    
    <!-- Modal -->
    <div class="modal fade" id="booking-view" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Booking Information</h4>
                </div>
                <div class="modal-body">
                	<table class="table table-stiped">
                		<tr>
                			<th>Date</th>
                			<td>{{selectedBooking.booking_date}}</td>
                		</tr>
                		<tr>
                			<th>Slot</th>
                			<td>{{selectedBooking.slot}}</td>
                		</tr>
                		<tr ng-if="selectedBooking.combo_offer">
                			<th>Offer</th>
                			<td>{{selectedBooking.combo_offer}}</td>
                		</tr>
                		<tr>
                			<th>Name</th>
                			<td>{{selectedBooking.first_name+" "+selectedBooking.last_name}}</td>
                		</tr>
                		<tr>
                			<th>Mobile</th>
                			<td>{{selectedBooking.mobile_no}}</td>
                		</tr>
                		<tr>
                			<th>Email Id</th>
                			<td>{{selectedBooking.email_id}}</td>
                		</tr>
                		<tr>
                			<th>Booked On</th>
                			<td>{{selectedBooking.booked_on}}</td>
                		</tr>
                		<tr>
                			<th>Booking Type</th>
                			<td>{{selectedBooking.booked_by == 1? 'Manual':'Online'}}</td>
                		</tr>
                		<tr>
                			<th>Payment Comments</th>
                			<td>{{selectedBooking.payment_gateway_comments}}</td>
                		</tr>
                	</table>
                    
                </div>
            </div>
        </div>
    </div>
    	
</div>

