<script>
var GET_AVAILABLE_SLOTS_API = "<?php echo $this->getAvailableSlotsAPI;?>";
var GET_ALL_SLOTS_API = "<?php echo $this->getAllSlotsAPI;?>";
var GET_SLOT_MAINTENANCE_API = "<?php echo $this->getLiveSlotMaintenanceAPI;?>";

</script>

<div class="row" ng-controller="slot-management">
	<div class="col-xs-12">
		<h3 class="page-header">Slot Management</h3>
	</div>
	
	<!-- <div class=" well col-xs-12">
		<h4 class="page-header">Search</h4>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group col-sm-6">
					<input ng-model="searchByName" class="form-control" placeholder="Search By Name"/>
				</div>
				<div class="form-group col-sm-6">
					<input ng-model="search.mobile_no" class="form-control" placeholder="Search By Mobile"/>
				</div>
				<div class="form-group col-sm-6">
					<select ng-model="search.slot"  class="form-control">
						<option value=''>-- Select Slot --</option>
						<option ng-repeat="slot in slots" value="{{slot.slot}}">{{slot.slot}}</option>
					</select>
				</div>
				
				<div class="form-group col-sm-6">
					<input ng-model="search.email_id" class="form-control" placeholder="Search By Email"/>
				</div>
			</div>
		</div>
	</div> -->
	
	
	
	<div class="col-xs-12">
	<table class="table table-stripped">
		<tr>
			<th>Date</th>
			<th>Slot</th>
			<th>No Of Courts</th>
		</tr>
		<tr ng-repeat="slotMaintenance in slotMaintenanceList">
			<td>{{slotMaintenance.maintenance_date}}</td>
			<td>{{slotMaintenance.slot}}</td>
			<td>{{slotMaintenance.no_of_courts}}</td>
		</tr>
	</table>
		
	
	</div>

</div>