<script>
	var GET_BOOKINGS_API = "<?php echo $this->bookingsReportAPI;?>";

</script>

<div class="row" ng-controller="bookings-report">
	<div class="col-xs-12">
		<h2 class="page-header">Bookings Report</h2>
	</div>
	
	<div class="col-xs-12">
		<div class="col-xs-6">
			<div class="form-group">
				<label>From Date</label>
				<input type="date" ng-model="fromDate" class="form-control"></input>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>To Date</label>
				<input type="date" ng-model="toDate" class="form-control"></input>
			</div>
		</div>
	</div>
	
	<!-- <div class=" well col-xs-12">
		<h4 class="page-header">Search</h4>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group col-sm-6">
					<input ng-model="searchByName" class="form-control" placeholder="Search By Name"/>
				</div>
				<div class="form-group col-sm-6">
					<input ng-model="search.mobile_no" class="form-control" placeholder="Search By Mobile"/>
				</div>
				<div class="form-group col-sm-6">
					<select ng-model="search.court_name"  class="form-control">
						<option value=''>-- Select Court --</option>
						<option ng-repeat="court in courts" value="{{court.court_name}}">{{court.court_name}}</option>
					</select>
				</div>
				<div class="form-group col-sm-6">
					<select ng-model="search.slot"  class="form-control">
						<option value=''>-- Select Slot --</option>
						<option ng-repeat="slot in slots" value="{{slot.slot}}">{{slot.slot}}</option>
					</select>
				</div>
				
				<div class="form-group col-sm-6">
					<input ng-model="search.email_id" class="form-control" placeholder="Search By Email"/>
				</div>
				
				<div class="form-group col-sm-12">
					<div class="radio">
						<label class="radio-inline"><input type="radio" ng-model="search.status" value="1"/> &nbsp; Valid Bookings</label>
						<label class="radio-inline"><input type="radio" ng-model="search.status" value="0"/> &nbsp; Pending Bookings</label>
						<label class="radio-inline"><input type="radio" ng-model="search.status" value="3"/> &nbsp; InValid Bookings</label>
						<label class="radio-inline"><input type="radio" ng-model="search.status" value="10"/> &nbsp; Cancelled Bookings</label>
					</div>
				</div>
			</div>
		</div>
		
	</div> -->
	
	<div class="col-xs-12" ng-if="bookings.length > 0">
		<div class="col-xs-12">
			<table class="table table-stripped table-hover">
				<tr>
					<th>Total Manual Bookings</th>
					<td>{{totalManualBookings}}</td>
				</tr>
				<tr>
					<th>Total Online Bookings</th>
					<td>{{totalOnlineBookings}}</td>
				</tr>
				
				<tr>
					<th>Total Valid Bookings (Online + Manual)</th>
					<td><strong>{{totalBookings}}</strong></td>
				</tr>
				
				
			</table>
		</div>
		<div class="row" ng-repeat="booking in bookings|filter:search|filter:searchByName">
			<div class="col-xs-12">
				<div class="well">
				<h4><strong>{{booking.first_name}} &nbsp; {{booking.last_name}}</strong></h4>
				<p>Date : {{booking.booking_date}} &nbsp; &nbsp; Slot : {{booking.slot}} &nbsp; &nbsp; Court : {{booking.court_name}}</p>
				<p>Mobile :  {{booking.mobile_no}}</p>
				<p>Email :  {{booking.email_id}}</p>
				<span class="btn btn-xs soapy-btn" ng-class="{'btn-info':(booking.booked_by == '0'), 'btn-warning':(booking.booked_by == '1')}">{{(booking.booked_by == '1')?'Manual':'Online'}}</span>
				</div>
			</div>
		</div>
	
	</div>

</div>