<script>
	var GET_INVALID_BOOKINGS_API = "<?php echo $this->invalidBookingsReportAPI;?>";

</script>

<div class="row" ng-controller="invalid-bookings-report">
	<div class="col-xs-12">
		<h2 class="page-header">Invalid Bookings Report</h2>
	</div>
	
	<div class="col-xs-12">
		<div class="col-xs-6">
			<div class="form-group">
				<label>From Date</label>
				<input type="date" ng-model="fromDate" class="form-control"></input>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>To Date</label>
				<input type="date" ng-model="toDate" class="form-control"></input>
			</div>
		</div>
	</div>
	
	
	<div class="col-xs-12" ng-if="bookings.length > 0">
		<div class="col-xs-12">
			<table class="table table-stripped table-hover">
				<tr>
					<th>Total Invalid Bookings</th>
					<td class="text-danger"><strong>{{bookings?bookings.length:0}}</strong></td>
				</tr>
				
				
			</table>
		</div>
		<div class="row" ng-repeat="booking in bookings|filter:search|filter:searchByName">
			<div class="col-xs-12">
				<div class="well">
				<h4><strong>{{booking.first_name}} &nbsp; {{booking.last_name}}</strong></h4>
				<p>Date : {{booking.booking_date}} &nbsp; &nbsp; Slot : {{booking.slot}} &nbsp; &nbsp; Court : {{booking.court_name}}</p>
				<p>Mobile :  {{booking.mobile_no}}</p>
				<p>Email :  {{booking.email_id}}</p>
				<span class="btn btn-xs soapy-btn" ng-class="{'btn-info':(booking.booked_by == '0'), 'btn-warning':(booking.booked_by == '1')}">{{(booking.booked_by == '1')?'Manual':'Online'}}</span>
				</div>
			</div>
		</div>
	
	</div>

</div>