<script>
	var MAINTENANCE_API = "<?php echo $this->listMaintenanceAPI;?>";
</script>

<div class="row" ng-controller="maintenance-report">
	
	<div class="col-xs-12">
		<div class="col-xs-6">
			<div class="form-group">
				<label>From Date</label>
				<input type="date" ng-model="fromDate" class="form-control"></input>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>To Date</label>
				<input type="date" ng-model="toDate" class="form-control"></input>
			</div>
		</div>
	</div>
	<!-- <div class="col-xs-12" ng-if="maintenanceList.length > 0">
		<h3 class="page-header">Search</h3>
		<div class="col-xs-6">
			<div class="form-group">
				<label>Courts</label>
				<select ng-model="search.court_id" class="form-control">
					<option value="{{court.id}}" ng-repeat="court in courts">{{court.court_name}}</option>
				</select>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label>Slot</label>
				<select ng-model="search.slot_id" class="form-control">
					<option value="{{slot.id}}" ng-repeat="slot in slots">{{slot.slot}}</option>
				</select>
			</div>
		</div>
	</div> -->
	<hr/>
	<div class="col-xs-12" ng-if="maintenanceList.length > 0">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th>Slot</th>
					<th>Court</th>
					<th>Status</th>
					<th>Maintenance Comments</th>
					<th>Release Comments</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="maintenance in maintenanceList">
					<td>{{maintenance.maintenance_date}}</td>
					<td>{{maintenance.slot}}</td>
					<td>{{maintenance.court_name}}</td>
					<td ng-class="{'bg-danger':(maintenance.status == 1), 'bg-info':(maintenance.status == 0)}">{{maintenance.status == 1?'Down for Maintenance' : 'Released'}}</td>
					<td>{{maintenance.maintenance_comments}}</td>
					<td>{{maintenance.release_comments}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>