<script>
	var DO_CHANGE_PASSWORD = "<?php echo $this->doChangePasswordUrl;?>";
</script>
<div class="row" ng-app="ipddesk-user">
	<div class="col-xs-12" ng-controller="change-password">
	<div class="row">
            	<div class="col-xs-12">
                        <strong><h3 class="page-header text-center"><b>Change Password</b></h3></strong>
                </div>
        </div>
		<form ng-submit="changePassword()">
			<div class="form-group" ng-if="successMsg">
				<label class="text-success">{{successMsg}}</label>
			</div>
			<div class="form-group" ng-if="errorMsg">
				<label class="text-danger">{{errorMsg}}</label>
			</div>
			<div class="form-group text-center row">
				<label class="col-sm-4 control-label">Current Password</label>
				<div class="col-sm-6">
					<input type="password" ng-model="currentPassword" class="form-control" required placeholder="Change Password" />
				</div>
			</div>
			<div class="form-group text-center row">
				<label class="col-sm-4 control-label">New Password</label>
				<div class="col-sm-6">
					<input type="password" ng-model="newPassword" class="form-control" required placeholder="New Password" />
				</div>
			</div>
			<div class="form-group text-center row">
				<label class="col-sm-4 control-label">Confirm Password</label>
				<div class="col-sm-6">	
					<input type="password" ng-model="confirmPassword" class="form-control" required placeholder="Confirm Password" />
				</div>
			</div>
			<div class="form-group text-center">
				<div class="col-md-10">
					<button type="submit" class="btn btn-primary" >Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>