
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Soap FootBall Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/font-awesome.min.css">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/toaster.css">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/angular-rating-icons.min.css">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/adminDefault.css">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/_all-skins.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <?php echo $this->seoScripts; ?>

        <script>
            var BASE_URL = "<?php echo $this->baseURL;?>";
            var CONTENT_URL = "";
            var MODULE_ID = "";
        </script>
        
        <script type="text/javascript">
			var SAVE_API = "<?php echo $this->saveFeedbackAPI;?>";
			var GET_ALL_SLOTS_API = "<?php echo $this->getAllSlotsAPI; ?>";
			var QUESTIONS = <?php echo $this->questions;?>; 
		</script>
		        
        <script>
            Date.prototype.yyyymmdd = function() {
                var mm = this.getMonth() + 1; // getMonth() is zero-based
                var dd = this.getDate();

                return [this.getFullYear(), (mm > 9 ? '' : '0') + mm, (dd > 9 ? '' : '0') + dd].join('-');
            };
            Date.prototype.fullDateString = function() {
                var mm = this.getMonth();
                var dd = this.getDate();
                var monthArr = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                var hh = this.getHours();
                var minutes = this.getMinutes();
                var ss = this.getSeconds();
                return (dd > 9 ? '' : '0') + dd + "-" + monthArr[mm] + "-" + this.getFullYear() + " " + (hh > 9 ? '' : '0') + hh + ":" + (minutes > 9 ? '' : '0') + minutes + ":" + (ss > 9 ? '' : '0') + ss;

            };
        </script>
        
        <script src="<?php echo $this->jsPath; ?>/jquery.min.js"></script>
        <script src="<?php echo $this->jsPath; ?>/bootstrap.min.js"></script>
        <script src="<?php echo $this->jsPath; ?>/angular.js"></script>
        <script src="<?php echo $this->jsPath; ?>/toaster.js"></script>
        <script src="<?php echo $this->jsPath; ?>/appAdmin.js"></script>
        <script src="<?php echo $this->jsPath; ?>/tinymce.js"></script>
        <script src="<?php echo $this->jsPath; ?>/angularUI-tinymce.js"></script>
        <script src="<?php echo $this->jsPath; ?>/angular-rating-icons.min.js"></script>
        <script src="<?php echo $this->jsPath; ?>/core/soapy-admin.js"></script>

</head>

<body class="hold-transition skin-blue sidebar-mini">
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>Feedback</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Feedback</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
            <!-- Main content -->
            <div class="container-fluid " ng-app="soapy-admin">
            	<div class="row" ng-controller="feedback">
	<div class="col-xs-12">
		<div class="alert alert-success" ng-if="successMessage">
				  <strong>Success!</strong> {{successMessage}}
				</div>
				<div class="alert alert-danger" ng-if="errorMessage">
				  <strong>Ooops!</strong> {{errorMessage}}
				</div>
		<form ng-submit="submit()">
			<div class="form-group">
				<label>Select Slot</label>
				<select class="form-control" ng-model="feedbackDetails.slot" required>
					<option value=""> -- Select Slot -- </option>
					<option value="{{slot}}" ng-repeat="slot in slots">{{slot}}</option>
				</select>
			</div>	
			<div class="form-group">
				<label> Name </label>
				<input type="text" class="form-control" ng-model="feedbackDetails.name" required/>
			</div>
			
			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" ng-model="feedbackDetails.email"/>
			</div>
			
			<div class="form-group">
				<label>Mobile</label>
				<input type="text" class="form-control" ng-model="feedbackDetails.phone"/>
			</div>
			<div class="form-group" ng-repeat="question in questions">
				<label>{{question}}</label>
				<div class="form-control">
					<angular-rating-icons ng-model="feedbackDetails.feedback.questions[question]" required></angular-rating-icons>
				</div>
			</div>
			<div class="form-group">
				<label>Comments <span class="help-text" ng-if="feedbackDetails.overall_rating < 2.5"> - Comments are mandatory if over all ratings are below 2.5</span></label>
				<textarea class="form-control" ng-model="feedbackDetails.feedback.comments" ng-required="feedbackDetails.overall_rating < 2.5"></textarea>
				
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary btn-lg" value="Submit">
			</div>
		</form>
	</div>
</div>
            </div>
            <!-- /.content -->

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <a href="http://www.freniz.com">Freniz Software Solutions</a>
            </div>
            <strong>Copyright &copy; 2017.</strong> All rights reserved.
        </footer>
</body>

</html>
