<script>
	var DO_CHANGE_PASSWORD = "<?php echo $this->user->doChangePasswordUrl;?>";
</script>

<div layout="row" layout-align="center" ng-controller="change-password" style="margin-top:50px;">
    <div layout="column" layout-align="center" flex="40">
    		<div class="form-group" ng-if="successMsg">
				<label class="text-success">{{successMsg}}</label>
			</div>
			<div class="form-group" ng-if="errorMsg">
				<label class="text-danger">{{errorMsg}}</label>
			</div>
        <md-card>
            <form ng-submit="changePassword()">
                <div layout="column" layout-padding="" layout-align="center center">

                    <span><h3>Change Password</h3></span>
                    <md-input-container class="md-block">
                    	<label>Current Password</label>
                        <input type="password" ng-model="currentPassword" required />
                    </md-input-container>

                    <md-input-container class="md-block">
                    	<label>New Password</label>
                        <input type="password" ng-model="newPassword" required  />
                    </md-input-container>

                    <md-input-container class="md-block">
                    	<label>Confirm Password</label>
                        <input type="password" ng-model="confirmPassword" required />
                    </md-input-container>

                    <md-input-container class="row text-center">
                        <md-button class="md-raised md-primary text-center" type="submit">Save</md-button>
                    </md-input-container>

                 </div>
            </form>
        </md-card>
    </div>
</div>