.soapy-navbar{
	background-color : transparent;
	color : #fff !important;
	border:none;
	
}
.soapy-navbar .navbar-brand{
	color:#eee;
	font-size: 2em;
	font-weight:bolder;
	
}
.soapy-carousel{
	transform:none;
}

/* How it works ---------------------------------------------------------------------- */	
.how_it_works{text-align:center;position:relative}
.how_it_works.has_border:after{content:"";display:block;width:12%;height:4px;background:rgba(0,0,0,.03);-webkit-border-radius:2px;border-radius:2px;position:absolute;right:-10.5%;top:100px}
.how_it_works .image{width:196px;height:196px;line-height:194px;text-align:center;position:relative;margin:0 auto 15px;background:#fff;border-width:2px;border-style:solid;border-radius:100%}
.how_it_works .image img{max-width:116px!important;max-height:116px!important;vertical-align:middle}
.how_it_works .image .number{position:absolute;right:10px;bottom:10px;width:35px;height:35px;line-height:35px;font-size:15px;text-align:center;border-radius:100%;-webkit-box-shadow:inset 0 0 0 2px rgba(0,0,0,.1);box-shadow:inset 0 0 0 2px rgba(0,0,0,.1)}

.how_it_works .image{ border-color:rgba(0,0,0,0.08)}
.how_it_works .image .number {
    background: #787878 !important;
    color:#eee;
}
.headings{
	margin-bottom:40px;
}
.tariff-container{
	font-family: Droid Sans;
	background-image:url('../images/chennai/price-section-2.jpg');
	margin-left:-66px;
	padding-left:66px;
	color:#eee !important;
	text-align: center;
}
.soapy-rules-container .headings{
	text-align:center;
	margin-bottom:10px;
}
.contact-container{
	background-image:url('../images/chennai/contact-section-2.jpg');
	
	margin-left:-66px;
	padding-left:66px;
	color:#eee !important;
	text-align: center;
}
.soapyPanel{
	background-color:transparent;
	border: 2px solid #eee;
	
}
.soapyPanel .panel-heading{
	background-color:#eee;
	color:#000;
}
.soapyPanel .panel-body{
	color:#eee;
	
}
.calTable{
	
}
.calTable .weekhead{
	background-color:#333;
	color:#fff;
}

.calTable>thead>tr>th {
    vertical-align: middle;
    border:0;
}
.calTable>tbody>tr.date-tr>td {
    text-align:center;
    width:14.28%;
    
}
.calTable>tbody>tr.date-tr>td>span {
    width:60%;
    line-height:20px;
    padding:7px;
    font-size: 1.4em;
    border-radius:100%;
    border:2px solid transparent;
    
}
@media screen and (max-width: 767px){
	
	.calTable>tbody>tr.date-tr>td>span {
    width:70%;
    line-height:20px;
    padding:7px;
    font-size: 1.4em;
    border-radius:100%;
    border-color:2px solid transparent;
}
	
}
.calTable>tbody>tr.date-tr>td:hover>span {
    border-color:#333;
    background-color: #333;
    color:#fff;
}


.calTable>tbody>tr.date-tr>td {
	cursor: pointer;
}
.calTable>tbody>tr.date-tr>td.disabled {
	background-color:#f5f5f5;
    color:#aaa !important;
    cursor: not-allowed;
}
.calTable>tbody>tr.date-tr>td.disabled>span {
	border:0;
	background-color:transparent;
	color:#aaa;
}

.calTable>tbody>tr.date-tr>td.currentDate>span {
    border-color:#31afea;
}

.calTable>tbody>tr.date-tr>td.currentDate:hover>span {
    border-color:#31afea;
    background-color: #31afea;
    color:#fff;
}

.calTable>tbody>tr.date-tr>td.selected {
    background-color:#ddd;
    
}

.calTable>tbody>tr.date-tr>td.selected>span, .calTable>tbody>tr.date-tr>td.selected:hover>span {
    border-color:#ddd;
    background-color:#eee;
    color:#333;
    
    
}

.calTable tr.calHead{
	height:100px;
	background-color:#999;
	color:#fff;
}
.btn-soapy {
    width: 143px;
    text-align: center;
    margin: 4px;
    font-weight: bold;
    font-size: 1em;
}
.location-text{
	font-size: 1.5em;
	text-align: justify;
}
.soapy-well{
	padding:5px;
	padding-bottom:35px;
	background-color:#000;
	border:0;
}
.rules-nav>li{
	line-height:21px;
	margin-bottom:10px;
	font-size:1.1em;
	color:#999;
	text-align:justify;
}
