<script>

	var EMPLOYEE_ID = "<?php echo $this->employeeId; ?>";
	var GET_API="<?php echo $this->employee->getAPI; ?>/id/"+EMPLOYEE_ID;
	var SAVE_API="<?php echo $this->employee->saveAPI;?>";

</script>

<div ng-controller="add-employee">
<span><h3 class="text-center">Employee Registration</h3></span>
			<div layout="row" layout-align="center">
            <div layout="column" flex="65">
                    <form ng-submit="saveEmployee()">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Employee Code</label>
                            <input type="text" ng-required="true" ng-model="employeeDetails.employee_code">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Employee Name </label>
                            <input type="text" ng-required="true" ng-model="employeeDetails.employee_name">
                        </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Email </label>
                        <input type="email" ng-required="true" ng-model="employeeDetails.employee_email">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>User Type </label>
                        <md-select ng-model="employeeDetails.user_level">
		                    <md-option value="1">
		                        Admin
		                    </md-option>
		                    <md-option value="2">
		                        Manager
		                    </md-option>
		                </md-select>
                    </md-input-container>
                    <md-button type="submit" class="md-raised md-primary">Add Employee</md-button>
                    </form>
            </div>
        </div>
        </div>