<script>
	var SAVE_API = "<?php echo $this->members->saveAPI;?>";
	var SUBSCRIPTION_LIST_API = "<?php echo $this->subscriptions->listAPI;?>";
	var PAYMENT_TYPE_LIST_API = "<?php echo $this->payments->listPaymentTypesAPI;?>";
	
</script>

<span>
   <h3 class="" style="margin:8px 0;">Customer Registration</h3>
</span>
<div layout="row" ng-controller="add-member">
   <div flex="22">
      <div  class="col-md-1 col-lg-2 col-sm-1 hidden-xs pull-left" style="margin-top:190px;">
         <md-button ng-disabled="selectedIndex == 0" class="md-fab md-primary"  ng-click="selectedIndexLeft()">
            <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
         </md-button>
      </div>
   </div>
   <div flex="66">
   <form ng-submit="saveMember()">
      <md-tabs md-selected="selectedIndex">
         <md-tab label="Basics">
            <div class=" col-md-9 col-lg-9 col-sm-9 " layout="row" layout-align="center"  style="padding-top:10px;" >
               <div layout="column ">
                  <div flex="100" class="flex flex-col">
                     <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                           <label>First Name</label>
                           <input type="text" ng-required="true" ng-model="memberDetails.first_name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                           <label>Last Name </label>
                           <input type="text" ng-required="true"  ng-model="memberDetails.last_name">
                        </md-input-container>
                     </div>
                     <md-input-container class="md-block" flex-gt-sm="">
                     	<label>Member Id</label>
                       	<input type="text" ng-required="true" ng-model="memberDetails.member_id">
                     </md-input-container>
                     <md-input-container class="md-block">
                        <label>Email </label>
                        <input type="email"  ng-required="true"  ng-model="memberDetails.email">
                     </md-input-container>
                     <md-input-container class="md-block">
                        <label>Enter DOB</label>
                        <md-datepicker ng-model="memberDetails.dob" ng-required="true"></md-datepicker>
                     </md-input-container>
                     <md-input-container class="md-block">
                        <label>Phone </label>
                        <input type="number" ng-required="true" ng-model="memberDetails.phone">
                     </md-input-container>
                     <md-input-container class="md-block">
                        <label>Occupation </label>
                    	<md-select ng-model="memberDetails.occupation">
		                    <md-option value="1">
		                        Salaried
		                    </md-option>
		                    <md-option value="2">
		                        Government Employee
		                    </md-option>
		                    <md-option value="3">
		                        Business
		                    </md-option>
		                    <md-option value="4">
		                        Other
		                    </md-option>
		                </md-select>
		                <input ng-model="memberDetails.occupation_other" ng-if="memberDetails.occupation == 4"/>
                     </md-input-container>
                     
                  </div>
               </div>
            </div>
         </md-tab>

         <md-tab label="Personal & Contact">
          
           <div style="margin-left:-10px;margin-top:20px;" class="col-md-11 col-lg-9 col-sm-10 " layout="row" layout-align="center">
              <div layout="column" flex="66">
                 <div flex layout="column">
                        <md-input-container class="md-block">
                           <label>Blood Group </label>
                           <input type="text" ng-required="true" ng-model="memberDetails.blood_group">
                        </md-input-container>

                        <md-input-container class="md-block">
                           <label>Marital Status </label>
                        </md-input-container>
						<md-input-container>
							<md-radio-group ng-model="memberDetails.marital_status">
                               <md-radio-button value="0"> Single </md-radio-button>
                               <md-radio-button value="1">Married</md-radio-button>
                            </md-radio-group>
						</md-input-container>
                        <md-input-container class="md-block" ng-if="memberDetails.marital_status == 1">
                           <label>Marriage Date </label>
                           <md-datepicker ng-model="memberDetails.marriage_date" md-placeholder="Enter date"></md-datepicker>
                        </md-input-container>
                        <md-input-container class="md-block">
                          <label>Address</label>
                          <textarea ng-model="memberDetails.address"></textarea>
                       </md-input-container>
                        <md-input-container class="md-block">
                          <label>Pincode</label>
                          <input ng-model="memberDetails.pincode"></input>
                       </md-input-container>
                        
                        
                 </div>
              </div>
           </div>
        </md-tab>

		<md-tab label="Subscription">        
           <div style="margin-left:-10px;margin-top:20px;" class="col-md-11 col-lg-9 col-sm-10 " layout="row" layout-align="center">
              <div layout="column" flex="66">
                 <div flex layout="column">
                       <md-input-container class="md-block">
                          <label>Subscription</label>
                          <md-select ng-model="memberDetails.subscriptionDetails.subscription_id" ng-required="true">
                          	<md-option ng-repeat="subscription in subscriptions track by $index" value="{{subscription.id}}">{{subscription.subscription_name}}</md-select>
                          </md-select>
                       </md-input-container>

                       <md-input-container class="md-block">
                          <label>Amount </label>
                          <input ng-model="selectedSubscriptionDetails.price" ng-disabled="true">
                       </md-input-container>
                    	<md-input-container class="md-block">
                          <label>Start Date </label>
                          <md-datepicker ng-model="memberDetails.subscriptionDetails.subscription_start_date" md-placeholder="Enter date"></md-datepicker>
                       </md-input-container>
                    
                    
                        <!-- <md-button class="md-raised md-primary">Register</md-button> -->
                 </div>
              </div>
           </div>
        </md-tab>
        <md-tab label="Payment">        
           <div style="margin-left:-10px;margin-top:20px;" class="col-md-11 col-lg-9 col-sm-10 " layout="row" layout-align="center">
              <div layout="column"  flex="66">
                 <div flex layout="column">
                       <table class="table table-stripped ">
                       		<tbody>
                       			<tr>
                       				<th>Registration Fee</th>
                       				<td>100</td>
                       			</tr>
                       			<tr>
                       				<th>Subscription <br/><small>{{selectedSubscriptionDetails.subscription_name}}</small></th>
                       				<td>{{selectedSubscriptionDetails.price}}</td>
                       			</tr>
                       			<tr>
                       				<th>Total</th>
                       				<td>{{parseFloat(selectedSubscriptionDetails.price)+100}}</td>
                       			</tr>
                       		</tbody>
                       </table>
                    
                       <md-input-container class="md-block">
                          <label>Amount Received</label>
                          <input type="number" ng-model="memberDetails.paymentDetails.amount_received" ng-required="true"/>
                       </md-input-container>
                       <md-input-container class="md-block">
                          <label>Pending Amount</label>
                          <input value="{{parseFloat((parseFloat(selectedSubscriptionDetails.price)+100) - (memberDetails.paymentDetails.amount_received?parseFloat(memberDetails.paymentDetails.amount_received):0))}}" ng-disabled="true"/>
                       </md-input-container>
                       <md-input-container class="md-block">
                          <label>Payment Type</label>
                          <md-select ng-model="memberDetails.paymentDetails.payment_type_id" ng-required="true">
                          	<md-option ng-repeat="payment_type in paymentTypes track by $index" value="{{payment_type.id}}">{{payment_type.type_name}}</md-select>
                          </md-select>
                       </md-input-container>
                       <md-input-container class="md-block">
                          <label>Payment Comments</label>
                          <input ng-model="memberDetails.paymentDetails.comments" ng-required="selectedPaymentType.has_comments == 1"/>
                       </md-input-container>                 
                        <md-button type="submit" class="md-raised md-primary">Register</md-button>
                 </div>
              </div>
           </div>
        </md-tab>
      </md-tabs>
      </form>
   </div>
   <div flex="22">
      <div class="col-md-1 col-lg-1 col-sm-2 hidden-xs text-center" style="margin-top:190px;">
         <md-button ng-disabled="selectedIndex == 3" class="md-fab  md-primary" ng-click="selectedIndexRight()">
            <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
         </md-button>
      </div>
   </div>
</div>