<script>
    var LIST_API = "<?php echo $this->employee->listAPI; ?>";
</script>


<div ng-cloak="" ng-controller="list-employees">

    <span class="pull-left" style="margin-left:5px;">
       <h3 class="" >List Of Employees</h3>
    </span>
    <div class="lock-size pull-right" layout="row" layout-align="center center">
        <md-fab-speed-dial md-open="ctrl.isOpen" md-direction="{{ctrl.selectedDirection}}" ng-class="ctrl.selectedMode">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="Add User" class="md-fab md-raised md-mini ">
                    <a class="md-accent md-hue-2" href="<?php echo $this->employee->addUrl; ?>"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i></a>
                </md-button>
                
                <md-button aria-label="Employee Attendance" class="md-fab md-raised md-mini ">
                    <a class="md-accent md-hue-2" href="<?php echo $this->employee->attendanceUrl; ?>"><i class="fa fa-hand-paper-o fa-lg" aria-hidden="true"></i></a>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>


    <div ui-view="" class="ng-scope">
        <!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
        <div class="table-responsive-vertical md-whiteframe-z1 ng-scope">
            <table id="table" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Biometric Id</th>
                        <th>Emp Code</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>User Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ng-scope" ng-repeat="employee in employees track by $index">
                        <td data-title="#" class="ng-binding">{{$index+1}}</td>
                        <td data-title="Bio. ID" class="ng-binding">{{parseFloat(employee.id)+900000}}</td>
                        <td data-title="ID" class="ng-binding">{{employee.employee_code}}</td>
                        <td data-title="Name" class="ng-binding">{{employee.employee_name}}</td>
                        <td data-title="Subscrioption Expire Date" class="ng-binding">{{employee.employee_email}}</td>
                        <td data-title="DOB" class="ng-binding">{{employee.user_level}}</td>
                        <td>
                           <a href="<?php echo $this->employee->addUrl;?>/id/{{employee.id}}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr> 
            	</tbody>
            </table>
        </div>
    </div>
</div>