<script>
	var SEND_RESET_LINK_URL = "<?php echo $this->user->sendResetLinkUrl;?>";
</script>

<div layout="row" layout-align="center" ng-app="ipddesk-user" ng-controller="forgot-password" style="margin-top:50px;">
    <div layout="column" layout-align="center" flex="40">
    		<div class="form-group text-center" ng-if="successMsg">
				<label class="text-success">{{successMsg}}</label>
			</div>
			<div class="form-group text-center" ng-if="errorMsg">
				<label class="text-danger">{{errorMsg}}</label>
			</div>
        <md-card>
            <form ng-submit="sendResetLink()">
                <div layout="column" layout-padding="" layout-align="center center">

                    <span><h3>Fogot Password</h3></span>
                    <md-input-container class="md-block">
                        <md-icon><i class="fa fa-envelope" aria-hidden="true"></i> </md-icon>
                        <input type="email" ng-model="email" class="form-control" required placeholder="Email" />
                    </md-input-container>

                    <md-input-container class="row text-center">
                        <md-button class="md-raised md-primary text-center" type="submit">Submit</md-button>
                        <a href="<?php echo $this->loginUrl;?>">Back</a>
                    </md-input-container>

                 </div>
            </form>
        </md-card>
    </div>
</div>