<script type="text/javascript">

	var DO_LOGIN_URL = "<?php echo $this->user->doLoginUrl;?>";

</script>


        <div layout="row" layout-align="center"  ng-controller="login" style="margin-top:50px;">
            <div layout="column" layout-align="center" flex="40">
                <md-card>
                    <form class="form-signin {{hasError}}" ng-submit="login()">
                        <div layout="column" layout-padding="" layout-align="center center">

                            <span><h3 class="{{errorAnimate}}">LOGIN</h3></span>
                            <md-input-container class="md-block">
                                <md-icon><i class="fa fa-user" aria-hidden="true"></i> </md-icon>
                                <input type="text" class="form-control" ng-model="email" placeholder="Email" required="" autofocus="">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <md-icon><i class="fa fa-key" aria-hidden="true"></i></md-icon>
                                <input type="password" class="form-control" ng-model="password" placeholder="Password" required="">
                            </md-input-container>

                            <md-input-container class="row text-center">
                                <md-button class="md-raised md-primary text-center btn-block" ng-disabled="checked" type="submit">Login</md-button>
                                <a href="<?php echo $this->forgotPasswordUrl;?>">ForgotPassword?</a>
                            </md-input-container>

                         </div>
                    </form>
                </md-card>
            </div>
        </div>