<script>
	var DO_RESET_PASSWORD = "<?php echo $this->user->doResetPasswordUrl;?>";
	var LOGIN_URL = "<?php echo $this->user->loginUrl;?>";
</script>


<div layout="row" layout-align="center" ng-app="ipddesk-user" ng-controller="reset-password" style="margin-top:50px;">
	<?php if($this->invalidResetLink){?>
	<div class="form-group">
		<label class="text-danger" style="font-size:2em">Invalid Reset Code</label>
	</div>
	<?php } else{?>
    <div layout="column" layout-align="center" flex="40">
    		<div class="form-group text-center">
				<label ng-if="successMsg" class="text-success">{{successMsg}}</label>
				<label ng-if="errorMsg" class="text-danger">{{errorMsg}}</label>
			</div>
        <md-card>
            <form ng-submit="resetPassword()">
                <div layout="column" layout-padding="" layout-align="center center">

                    <span><h3>Reset Password</h3></span>
                    <md-input-container class="md-block">
                    	<label>New Password</label>
                        <input type="password" ng-model="newPassword" class="form-control" required/>
                    </md-input-container>

                    <md-input-container class="md-block">
                    	<label>Confirm Password</label>
                        <input type="password" ng-model="confirmPassword" class="form-control" required ng-class="{success:(newPassword == confirmPassword),danger:(newPassword != confirmPassword)}" />
                    </md-input-container>

                    <md-input-container class="row text-center">
                        <md-button class="md-raised md-primary text-center" type="submit">Reset</md-button>
                        <?php } ?>
                        <a href="<?php echo $this->loginUrl;?>">Login</a>
                    </md-input-container>

                 </div>
            </form>
        </md-card>
    </div>
</div>