<span>
   <h3 class="" style="margin:8px 0;">Employee Attendence List</h3>
</span>
<script>
	var LIST_API = "<?php echo $this->employee->attendanceListAPI;?>"; 
</script>	
<div  ng-cloak="" ng-controller="employee-attendance-list">
    <div  layout="row" layout-align="center">
        <div layout="column" flex="99">
            <div flex layout="column">
                <md-input-container class="md-block">
                    <label>Pick Date</label>
                    <md-datepicker ng-model="attendanceDetails.date"></md-datepicker>
                 </md-input-container>
            </div>
        </div>
    </div>

    <div ui-view="" class="ng-scope">
        <!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
        <div class="table-responsive-vertical md-whiteframe-z1 ng-scope">
            <table id="table" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>In Time</th>
                        <th>Out Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in attendanceLogs">
                        <td data-title="#" class="ng-binding">{{$index+1}}</td>
                        <td data-title="ID" class="ng-binding">{{entry.employee_code}}</td>
                        <td data-title="Name" class="ng-binding">{{entry.employee_name}}</td>
                        <td data-title="In Time" class="ng-binding">{{entry.in_time}}</td>
                        <td data-title="Out Time" class="ng-binding">{{entry.out_time}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>