<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Soap Football Chennai</title>

    <link href="<?php echo $this->pluginsPath;?>/flexslider/flexslider.css" rel="stylesheet" media="screen" />

    <link href="<?php echo $this->cssPath;?>/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->cssPath;?>/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="<?php echo $this->cssPath;?>/main.css">

        <style>
            body * {
                font-family: 'Georgia';
            }
            
            .headings {
                font-family: 'Calisto MT';
                font-weight: bold;
            }
            
            #tariffs,
            #rules {
                background-color: #666;
                color: #FFF;
            }
            
            .soapyPanel {
                color: #000;
                font-size: 1em;
            }
            
            .calendar {
                margin-top: 75px;
                background-color: #93A262;
                /*background-color:#536775;*/
                bottom: 0;
                right: 0;
                padding: 5px;
                position: relative;
            }
            
            .calendar:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 50px solid #93A262;
                /* border-bottom: 50px solid #536775; */
                border-left: 240px solid transparent;
                border-right: 60px solid transparent;
                position: absolute;
                z-index: 0;
                top: -150px;
                left: 0;
                right: 0;
            }
            
            .top {
                z-index: 1003;
            }
            
            .court-disabled {
                color: #F00;
            }
            
            .court-selected {
                color: green;
            }
            
            .affix {
                top: 0;
                width: 100%;
                z-index: 1000;
            }
            
            .bg-yellow {
                background-color: #ffcc00;
            }
            
            .soapy-navbar {
                background-color: #93A262;
                border-color: #93A262;
                border-radius: 0;
            }
            
            .calTable tr th,
            .calTable tr td {
                text-align: center;
            }
            
            .calTable tr td {
                cursor: pointer;
            }
            
            .calTable tr td.disabled {
                cursor: not-allowed;
            }
            
            .btn-soapy {
                width: 143px;
                text-align: center;
                margin: 4px;
                font-weight: bold;
                font-size: 1em;
            }
            
            #main section {
                padding: 0 0 !important;
            }
            
            #main section.cover {
                padding: 1em 0 important;
            }
            
            #header {
                z-index: 1060;
            }
            
            .rules ul li {
                margin-bottom: 1.8em;
            }
            
            .date-holder {
                width: 42px;
                padding: 5px;
                margin: 3px;
                text-align: center;
            }
            
            .date-holder:hover {
            	border: 1px solid #000;
                border-radius: 21px;
                
            }
            
            td.disabled .date-holder {
                background-color: #CCC;
            }
            
            .text-info {
                color: #269abc;
            }
            
            .flexslider {
                margin-bottom: 0;
            }
            
            img.logo-xs {
                margin: auto;
            }
            
            .headerToggle {
                margin: auto;
                position: relative;
            }
            
            .soapy-cart-table {
                font-size: 10px;
            }
            .footer-nav{
            	font-size:10px;
            	margin-bottom:0px;
            }
            .footer-nav li{
            	margin:20px;
            	display:inline-block;
            }
            
            @media screen and (max-width: 960px) {
                #nav ul {
                    margin-top: 0;
                }
                .tariff-timing {
                    font-size: 14px;
                }
            }
            
            @media print {
                .non-printable,
                .non-printable * {
                    display: none;
                }
                .printable {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                .printable .btn {
                    display: none;
                }
            }
        </style>

        <script>
            Date.prototype.yyyymmdd = function() {
                var mm = this.getMonth() + 1; // getMonth() is zero-based
                var dd = this.getDate();

                return [this.getFullYear(), (mm > 9 ? '' : '0') + mm, (dd > 9 ? '' : '0') + dd].join('-');
            };
            Date.prototype.ddmmm = function() {
                var monthArr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var mmm = monthArr[this.getMonth()]; // getMonth() is zero-based
                var dd = this.getDate();

                return [(dd > 9 ? '' : '0') + dd,
                    mmm
                ].join('-');
            };
            Date.prototype.fullDateString = function() {
                var mm = this.getMonth();
                var dd = this.getDate();
                var monthArr = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                var hh = this.getHours();
                var minutes = this.getMinutes();
                var ss = this.getSeconds();
                return (dd > 9 ? '' : '0') + dd + "-" + monthArr[mm] + "-" + this.getFullYear() + " " + (hh > 9 ? '' : '0') + hh + ":" + (minutes > 9 ? '' : '0') + minutes + ":" + (ss > 9 ? '' : '0') + ss;

            };
        </script>


        <script src="<?php echo $this->jsPath;?>/jquery.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/bootstrap.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/angular.js"></script>

        <script src="<?php echo $this->jsPath;?>/jquery.scrolly.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/jquery.scrollzer.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/skel.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/util.js"></script>

        <script src="<?php echo $this->jsPath;?>/angular-animate.js"></script>
        <script src="<?php echo $this->jsPath;?>/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="<?php echo $this->jsPath;?>/tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/angularUI-tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/main.js"></script>
</head>
<body>
<!-- Header -->
    <div id="header" class="non-printable">

        <div class="top">

            <!-- Logo -->
            <div id="logo" class="hidden-xs hidden-sm">
                <span><img src="<?php echo $this->imagesPath;?>/logo.png" alt="" class="logo"/></span>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="<?php echo $this->baseURL;?>"><span>Home</span></a></li>
                    <li><a href="<?php echo $this->baseURL;?>#tariffs"><span>Tariffs</span></a></li>
                    <li><a href="<?php echo $this->baseURL;?>#booknow"><span>Book Now</span></a></li>
                    <li><a href="<?php echo $this->baseURL;?>#rules"><span>Rules</span></a></li>
                    <li><a href="<?php echo $this->baseURL;?>#contact"><span>Contact</span></a></li>
                </ul>
            </nav>

        </div>

        <div class="calendar hidden-sm hidden-xs" style="min-height:35%">

        </div>

    </div>

    <!-- Main -->
    <div id="main">
    	<div class="row">
    		<div class="col-xs-12">
    			<section class=" bg-yellow non-printable hidden-lg hidden-md">
		            <div class="container-fluid">
		                <img src="<?php echo $this->imagesPath;?>/logo.png" alt="" class="logo-xs" />
		            </div>
		        </section>
		        <section id="bookedDetails" ng-if="booking" class="printable">
            <div class="container">

                <header>
                    <h2 class="headings">Booked Details </h2>
                </header>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="well">
                            <h4><strong>Order Id : <em><?php echo $this->orderDetails['orderId'];?></em></strong></h4>
                            
                            <p><strong> Status : 
                            	<?php switch ($this->orderDetails['status']){
                            		
                            		case 0:
                            			echo "Payment Pending";
                            			break;
                            		case 1:
                            			echo "Booked";
                            			break;
                            		case 2:
                            			echo "Payment Declined";
                            			break;
                            		case 3:
                            			echo "Chunk Booking";
                            			break;
                            		case 10:
                            			echo "Cancelled by Admin";
                            			break;
                            		default:
                            			echo "Invalid";
                            		
                            	}?>
                            </strong></p>
                            
                            <p style="padding:5px;margin:0"><?php echo $this->orderDetails['name'];?>
                                <br/> <b>Mobile :</b> <?php echo $this->orderDetails['phone'];?>
                                <br/> <b>Email :</b> <?php echo $this->orderDetails['email'];?></p>
                            <?php foreach($this->orderDetails['slots'] as $slot){?>
                            <p style="padding:5px;margin:0"> <b>Date :</b> <?php echo $slot['date'];?> &nbsp; &nbsp; <b>Slot :</b> <?php echo $slot['slot'];?>
                                <br/>
                            </p>
                            <?php }?>
                            <button class="btn btn-primary" onclick="window.print()">Print</button>
                        </div>
                    </div>
                </div>

            </div>

        </section>
		        
    		</div>
    	</div>
    </div>
</body>
</html>