<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Soap Football Chennai</title>

    <link href="<?php echo $this->cssPath;?>/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->cssPath;?>/font-awesome.min.css" rel="stylesheet">
	<link href="<?php echo $this->cssPath;?>/carousel.css" rel="stylesheet">
	<link rel='stylesheet' id='Roboto-css'  href='http://fonts.googleapis.com/css?family=Roboto%3A1%2C100%2C300%2C400%2C400italic%2C700&#038;ver=4.7.7' type='text/css' media='all' />
	<link rel='stylesheet' id='Droid+Sans-css'  href='http://fonts.googleapis.com/css?family=Droid+Sans%3A1%2C100%2C300%2C400%2C400italic%2C700&#038;ver=4.7.7' type='text/css' media='all' />
	<link rel='stylesheet' id='Duru+Sans-css'  href='http://fonts.googleapis.com/css?family=Duru+Sans%3A1%2C100%2C300%2C400%2C400italic%2C700&#038;ver=4.7.7' type='text/css' media='all' />
    
	<link href="<?php echo $this->cssPath;?>/soapy-chennai.css" rel="stylesheet">
	    <?php echo $this->seoScripts; ?>

        
        <script>
            Date.prototype.yyyymmdd = function() {
                var mm = this.getMonth() + 1; // getMonth() is zero-based
                var dd = this.getDate();

                return [this.getFullYear(), (mm > 9 ? '' : '0') + mm, (dd > 9 ? '' : '0') + dd].join('-');
            };
            Date.prototype.ddmmm = function() {
                var monthArr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var mmm = monthArr[this.getMonth()]; // getMonth() is zero-based
                var dd = this.getDate();

                return [(dd > 9 ? '' : '0') + dd,
                    mmm
                ].join('-');
            };
            Date.prototype.fullDateString = function() {
                var mm = this.getMonth();
                var dd = this.getDate();
                var monthArr = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                var hh = this.getHours();
                var minutes = this.getMinutes();
                var ss = this.getSeconds();
                return (dd > 9 ? '' : '0') + dd + "-" + monthArr[mm] + "-" + this.getFullYear() + " " + (hh > 9 ? '' : '0') + hh + ":" + (minutes > 9 ? '' : '0') + minutes + ":" + (ss > 9 ? '' : '0') + ss;

            };
        </script>

        <script>
	        var ADVANCE_AMOUNT = "<?php echo $this->advanceAmount;?>";
	        var GET_AVAILABLE_SLOTS_API = "<?php echo $this->getAvailableSlots;?>";
	        var BOOKING_API = "<?php echo $this->bookingAPI;?>";
            var PAYMENT_REQUEST_HANDLER = "<?php echo $this->paymentRequestHandler;?>";
            var TOTAL_COURT_COUNT = "<?php echo $this->totalCourtCount?>";
        </script>

        <script src="<?php echo $this->jsPath;?>/jquery.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/bootstrap.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/angular.js"></script>

        

        <script src="<?php echo $this->jsPath;?>/angular-animate.js"></script>
        <script src="<?php echo $this->jsPath;?>/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="<?php echo $this->jsPath;?>/tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/angularUI-tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/jquery.scrolly.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/jquery.scrollzer.min.js"></script>
        
        <script src="<?php echo $this->jsPath;?>/soapy-theme.js"></script>
        
        <script src="<?php echo $this->jsPath;?>/core/soapy.js?<?php echo $this->version;?>"></script>
        <style>
        @keyframes blink{
			0%{opacity: 1;}
			75%{opacity: 1;}
			76%{ opacity: 0;}
			100%{opacity: 0;}
	 	}
	
        </style>
</head>

<body ng-app="soapy-client" ng-controller="client-controller">

	 <nav class="navbar navbar-inverse navbar-fixed-top soapy-cart-navbar" ng-show="cart.items.length > 0" class="non-printable">
        <div class="container-fluid" style="margin-left:0">
            <div id="navbar-cart" class="navbar-right">
                <ul class="navbar-nav">
                    <li>
                        <button type="button" class="btn btn-primary btn-md pull-right" style="margin-right:5px" ng-click="openCartModal()">View Cart</button>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
	<div id="home" class="navbar-wrapper" style="z-index:1050">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top soapy-navbar">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><p>SOAP</p><p>FOOTBALL</p></a>
            </div>
            <div id="navbar" class="navbar-collapse navbar-right collapse">
              <ul class="nav navbar-nav">
                <li><a href="#tariff" class="scrolly">Pricing</a></li>
                <li><a href="#booknow" class="scrolly">Book Now</a></li>
                <li><a href="#how-it-works" class="scrolly">How It Works</a></li>
                <li><a href="#contact-us" class="scrolly">Contact Us</a></li>
                
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="<?php echo $this->imagesPath;?>/chennai/slider-image-1-1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>SLIP, KICK 'N' PLAY</h1>
              <p>Play the Funniest Game in Chennai</p>
              <p><a class="btn btn-lg soapy-btn scrolly" href="#booknow" role="button">Book Now</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="<?php echo $this->imagesPath;?>/chennai/slider-image-2-1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>SLIP, KICK 'N' PLAY</h1>
              <p>Play the Funniest Game in Chennai</p>
              <p><a class="btn btn-lg soapy-btn scrolly" href="#booknow" role="button">Book Now</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div id="how-it-works" class="container soapy-rules-container">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-4">
        	<div class="how_it_works">
        		<div class="image">
        			<img class="img-circle" src="<?php echo $this->imagesPath;?>/chennai/time-1.png">
        			<span class="number">1</span>		
        		</div>
        	</div>
        	<h3 class="headings">Fifty Five Minutes</h3>
        </div>  
        <div class="col-sm-4">
        	<div class="how_it_works">
        		<div class="image">
        			<img class="img-circle" src="<?php echo $this->imagesPath;?>/chennai/2-team-2.png">
        			<span class="number">2</span>		
        		</div>
        	</div>
        	<h3 class="headings">Two Teams</h3>
        </div>  
        <div class="col-sm-4">
        	<div class="how_it_works">
        		<div class="image">
        			<img class="img-circle" src="<?php echo $this->imagesPath;?>/chennai/price-1.png">
        			<span class="number">3</span>		
        		</div>
        	</div>
        	<h3 class="headings">One Winner</h3>
        </div>  
      </div>
        
	
    </div><!-- /.container -->
    <hr class="featurette-divider">
    
    <div id="tariff" class="container-fluid tariff-container">
    	<div class="container">

                <header>
                    <h2 class="headings">Tariffs & Timings </h2>
                </header>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="panel soapyPanel">
                            <div class="panel-heading ">
                                <h4>MONDAY-FRIDAY <br></h4>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-6">
                                    <span class="tariff-timing">
                                    10:00AM-05:00PM<br/>
HAPPY HOURS
									</span>

                                    <h3 style="animation:blink 1s infinite">1900/Hour</h3>

                                    <a href="#booknow" class="btn soapy-btn scrolly">BOOK NOW</a>
                                </div>
                                <div class="col-xs-6">
                                    <span class="tariff-timing">
	                                    06:00PM-12:00AM</br>
	                                    NORMAL HOURS
									</span>

                                    <h3>2100/Hour</h3>
                                    <a href="#booknow" class="btn soapy-btn scrolly">BOOK NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="panel soapyPanel">
                            <div class="panel-heading">
                                <h4>SATURDAY-SUNDAY <span class="hidden-xs hidden-sm"> &  Public Holidays</span> <span class="hidden-lg hidden-md"><br> & <br> Public Holidays </span></h4>
                            </div>
                            <div class="panel-body">
                            	 <div class="col-xs-12">
                                    <span class="tariff-timing">
                                    10:00AM-12:00AM</br>
                                    </span>

                                    <h3>2400/Hour</h3>

                                    <a href="#booknow" class="btn soapy-btn scrolly">BOOK NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <h5 class=" col-xs-12 text-center"># GST will be applicable on all tariffs. </h5> -->
<!--                    <h5 class=" col-xs-12 text-center" style="animation:blink 1s infinite"><button class="btn btn-warning btn-xs" style="font-size:1em"># Tariff applicable for 10 players </button></h5> -->
                    <!-- <h5 class=" col-xs-12 text-center"># Outside food not allowed </h5> -->
                    <h5 class="col-xs-12 text-center"> # Corporate Offer : Book two slots and get one more slot free ( Mon - Fri ) </h5>
                    

                </div>

            </div>
    </div>
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      
      <div class="container">
      	<div class="row">
      		<div class="col-md-6 col-xs-12">
      			<h2>Soap Football Rules</h2>
      			 <div class="row rules text-justify">
      			 <div class="col-xs-12">
                    <ul>
                        <li># <b>10 Players + 2 Subsititues</b> allowed per slot.</li>
                        <li># Maximum of 12 persons only allowed per slot. more than 12 persons (Alternatives) and per person 200rs will be charged extra. </li>
                        <li># Each slot will be of <b>55 minutes duration.</b> Kindly come<b> 15 minutes prior</b> to your slot.</li>
                        <li># Players must be within the below mentioned height and weight limits to play. This guideline is followed strictly for the safety of the players.<a href="" class="btn btn-info" data-toggle="modal" data-target="#weight"> View Weight Chart </a></li>
                        <li># <b>Change Room and Shower facilities</b> are available at the venue, kindly bring spare clothes for change.</li>
                        <li># Use of  outside food + party space will be charged Rs. 800/- per hour</li>
                        <li># After booking your slot if there is any cancellation, then the booking charges will not be refunded.</li>
                        <li># We should be informed 5 hours in advance if there is any rescheduling of slot. There will be a charge of Rs. 150 Incase of rescheduling your booked slot. Rescheduling of slot can only be confirmed based on the availability.</li>
                    </ul>
                </div>
                </div>
                <div class="well">
                    <h4><b class="text-danger"><em>The management will not be responsible for any Injuries/Accidents. <br><br>In case of any such events, the participants will not be able to hold the management responsible or claim any sort of compensation.</em></b></h4>
                </div>
      		</div>
      		<div id="booknow" class="col-md-6 col-xs-12">
      			<table id="calTable" class="calTable table table-responsive table-bordered">
                    <thead>
                        <tr class="calHead">
                            <th colspan="1" border="0" class="text-center" ng-click="goPrevMonth()"><span ng-if="(currentDate.getMonth() < currentCalendarMonth) || (currentDate.getFullYear() < currentCalendarYear)" class="fa fa-angle-double-left"></span></th>
                            <th colspan="5" class="text-center">{{monthsArr[currentCalendarMonth]}}&nbsp; - &nbsp;{{currentCalendarYear}}</th>
                            <th colspan="1" border="0" class="text-center" ng-click="goNextMonth()"><span class="fa fa-angle-double-right"></span></th>
                        </tr>

                        <tr class="weekhead">
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Sun</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="date-tr" ng-repeat="week in weeksArr">
                            <td ng-class="{'disabled':(!date|| date <= yesterDayDate), 'selected':(date && date == selectedDate), 'currentDate':(date.getTime() == currentDate.getTime())}" ng-click="selectDate($event, date)" ng-repeat="date in week track by $index">

                                <span class="fa fa-fw " ng-class="{'date-holder':date}"> {{date?date.getDate():''}}</span>
                            </td>
                        </tr>
                        <tr id="slot-tr">
                            <td colspan='7'>
                                <div class="well">
                                    <div class="row" style="margin-left:-15px; margin-right:-15px;margin-top:0">
                                        <div class="col-xs-12" style="padding-left:15px; padding-left:15px;padding-top:0px">
                                            <h4>Available Slots &nbsp; &nbsp; <button class="btn btn-xs btn-primary" type="button" ng-click="openCartModal()" ng-if="cart.items.length > 0">Checkout</button></h4>
                                            <span><i class="fa fa-square text-success"></i> - Available</span>&nbsp; &nbsp;<span><i class="fa fa-square text-danger"></i> - Not Available</span>&nbsp; &nbsp;<span class="hidden-sm hidden-xs"><i class="fa fa-square text-info"></i> - Selected</span><span class="hidden-lg hidden-md"><br><i class="fa fa-square text-info"></i> - Selected</span>
                                            <hr/>
                                        </div>

                                        <div class="col-xs-12" style="padding-left:15px; padding-left:15px;padding-top:0px" ng-if="slotLoading">
                                            <b><i class="fa fa-spinner fa-pulse fa-3x" ></i></b>
                                            <hr/>
                                        </div>
                                        <div class="col-xs-12" ng-repeat="(courtId, courtSlots) in availableSlots" style="padding-left:15px; padding-left:15px;padding-top:0px">
                                            <div class="row" style="margin-left:-15px; margin-right:-15px;margin-top:0">
                                                <div class="col-md-3" style="padding-left:15px; padding-left:15px;padding-top:0px">
                                                    <h4 class="text-center"><b>{{courtSlots.court_name}}</b></h4>
                                                </div>
                                                <div class="col-md-9" style="padding-left:15px; padding-left:15px;padding-top:0px">
                                                    <button class="btn btn-xs btn-soapy fa" ng-class="{'btn-success':(slot.is_booked == '0' && slot.is_maintenance == '0'), 'btn-danger':(slot.is_booked == '1' || slot.is_maintenance == '1'), 'btn-info':slot.selected}" ng-repeat="slot in courtSlots.slots" ng-click="selectSlot(slot)">{{slot.slot}}</button>
                                                </div>
                                            </div>
                                            <hr/>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
      			
      		</div>
      	</div>
      </div>
      
      <hr class="featurette-divider">

      <div id="contact-us" class="container-fluid contact-container">
      	<div class="container">
      	<div class="row">
      		<div class="col-md-4">
      			<h2 class="header">Get In Touch</h2>
      			<p class="location-text">
				Location : <br/>
				No.144, 6th Floor, <br/>
				Sathak Centre Building,<br/>
				Nungambakkam High Road,<br/>
				Nungambakkam,<br/>
				(Opps -The Park Hotel,  Roof top of Harley Davidson Showroom),<br/>
				Chennai, Tamilnadu 600034<br/>
				Ph : +91 96000 81839<br/>
      			</p>
      		</div>
      		<div class="col-md-8">
      			<h2 class="header">Get Direction</h2>
      			<div class="well soapy-well">
      				<div id="map" style="width:100%;height:300px"></div>
                    <script>
                            function initMap() {
                                var chn = {
                                    lat: 13.053385,
                                    lng: 80.25077
                                };
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 18,
                                    center: chn
                                });
                                var marker = new google.maps.Marker({
                                    position: chn,
                                    map: map
                                });
                            }
                      </script>
                     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7Js8wBXmAMcfz4qrcsR-sPXh1XHyoYlk&callback=initMap" async defer></script>
      			</div>
      			
      		</div>
      	</div>
      	</div>
      </div>

<!-- Modal -->
    <div class="modal fade" id="cartModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title headings">Booking Information</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-stripped soapy-cart-table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Slot</th>
                                                <!-- <th>Court</th> -->
                                                <th>Amount</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in cart.items">
                                                <td>{{item.date.ddmmm()}}</td>
                                                <td>{{item.slot.slot}}</td>
                                                <!-- <td>{{item.slot.court_name}}</td> -->
                                                <td>{{item.amount}}</td>
                                                <td>
                                                    <button class="btn btn-xs btn-danger" ng-click="removeCartItem(item, $index)">X</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Total Slots</td>
                                                <th>{{cart.totalSlots}}</th>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Total Amount</td>
                                                <th>{{cart.totalAmount}}</th>
                                                <td></td>
                                            </tr>
                                            <!-- <tr>
                                                <td colspan="2">Total Amount + GST</td>
                                                <th>{{cart.totalAmountWithGST}}</th>
                                                <td></td>
                                            </tr> -->
                                            <tr>
                                                <td colspan="2">Advance Booking Amount
                                                    <br>(<?php echo $this->advanceAmount;?> per Slot ) (<?php echo $this->advanceAmount;?> * {{cart.totalSlots}} {{cart.totalSlots > 1 ? 'Slots' : 'Slot'}})</td>
                                                <th>{{cart.advancePayment}}</th>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">Balance Amount payable at the venue</td>
                                                <th>{{cart.balance}}</th>
                                                <td></td>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                                <!-- <table class="table table-stripped table-hover">
                      <tr>
                        <th>Total Amount with GST  </th>
                        <th>:</th>
                        <td>{{cart.totalAmountWithGST}}</td>
                      </tr>
                      <tr>
                        <th>Advance Amount (per Slot Rs.300) ({{cart.totalSlots}} * 300)</th>
                        <th>:</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>Remaining Amount which is payable at venue</th>
                        <th>:</th>
                        <td>{{cart.balance}}</td>
                      </tr>
                    </table> -->
                                <button type="button" class="btn btn-primary pull-right" ng-click="showBookingPopup()">Continue</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="book" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title headings">Contact Information</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="book()">

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Enter First Name" ng-model="bookingDetails.first_name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Enter Last Name" ng-model="bookingDetails.last_name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="number" class="form-control col-md-6" placeholder="Enter Mobile No" ng-model="bookingDetails.mobile_no" required>

                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control col-md-6" placeholder="Enter email" ng-model="bookingDetails.email_id" required>
                        </div>
                        <table class="table table-stripped table-hover soapy-cart-table">

                            <tr>
                            	<td colspan="2">Total Amount</td>
                                <th>{{cart.totalAmount}}</th>
                                <td></td>
                            </tr>
                            <!-- <tr>
                                <td colspan="2">Total Amount + GST</td>
                                <th>{{cart.totalAmountWithGST}}</th>
                                <td></td>
                          	</tr> -->
                            <tr>
                                <td colspan="2">Advance Booking Amount
                                    <br>(<?php echo $this->advanceAmount;?> per Slot ) (<?php echo $this->advanceAmount;?> * {{cart.totalSlots}} {{cart.totalSlots > 1 ? 'Slots' : 'Slot'}})</td>
                                <th>{{cart.advancePayment}}</th>
                                <td></td>
                            </tr>

                            <tr>
                                <td colspan="2">Balance Amount payable at the venue</td>
                                <th>{{cart.balance}}</th>
                                <td></td>
                            </tr>

                        </table>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="isAgreed">
                                <h4 class="redText">I agree to pay the Remaining Amount at the Venue. <br><br>Slot Advance Payment is Non-Refundable<br><br>The management will not be responsible for any Injuries/Accidents. <br><br>In case of any such events, the participants will not be able to hold the management responsible or claim any sort of compensation.</h4>
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" ng-show="isAgreed" class="btn btn-primary">Book</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for weight chart -->
    <div class="modal fade" id="weight" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title headings">Player Weight Chart</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th>Height (Feet)</th>
                                <th>Maximum Weight Allowed (Kg)</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>4'10"</td>
                                <td>69-71</td>
                            </tr>

                            <tr>
                                <td>4'11"</td>
                                <td>71-73</td>
                            </tr>

                            <tr>
                                <td>5'0"</td>
                                <td>73-76</td>
                            </tr>
                            <tr>
                                <td>5'1"</td>
                                <td>76-79</td>
                            </tr>
                            <tr>
                                <td>5'2"</td>
                                <td>79-81</td>
                            </tr>
                            <tr>
                                <td>5'3"</td>
                                <td>81-84</td>
                            </tr>
                            <tr>
                                <td>5'4"</td>
                                <td>84-86</td>
                            </tr>
                            <tr>
                                <td>5'5"</td>
                                <td>86-89</td>
                            </tr>
                            <tr>
                                <td>5'6"</td>
                                <td>89-92</td>
                            </tr>
                            <tr>
                                <td>5'7"</td>
                                <td>92-95</td>
                            </tr>
                            <tr>
                                <td>5'8"</td>
                                <td>95-97</td>
                            </tr>
                            <tr>
                                <td>5'9"</td>
                                <td>97-100</td>
                            </tr>
                            <tr>
                                <td>5'10"</td>
                                <td>100-103</td>
                            </tr>
                            <tr>
                                <td>5'11"</td>
                                <td>103-105</td>
                            </tr>
                            <tr>
                                <td>6'0"</td>
                                <td>105-109</td>
                            </tr>
                            <tr>
                                <td>6'1"</td>
                                <td>109-112</td>
                            </tr>
                            <tr>
                                <td>6'2"</td>
                                <td>112-113</td>
                            </tr>
                            <tr>
                                <td>6'3"</td>
                                <td>115-118</td>
                            </tr>
                            <tr>
                                <td>6'4"</td>
                                <td>118-122</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


      <!-- FOOTER -->
     <div id="footer" class="non-printable container-fluid">
    	<ul class="footer-nav">
		<li><a href="terms-conditions"><span>Terms & Conditions</span></a></li>
                    <li><a href="refund-policy"><span>Refund Policy</span></a></li>
                    <li><a href="privacy-policy"><span>Privacy Policy</span></a></li>
         </ul>
        <!-- Copyright -->
        <p>Powered By
            <a href="http://www.freniz.com/" style="color:#33cccc !important">
        Freniz Software Solutions
      </a>
    </div>
      
</body>

</html>
