<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Soap Football Hyderabad</title>

    <link href="<?php echo $this->pluginsPath;?>/flexslider/flexslider.css" rel="stylesheet" media="screen" />

    <link href="<?php echo $this->cssPath;?>/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->cssPath;?>/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="<?php echo $this->cssPath;?>/main.css?<?php echo $this->version;?>">
    <?php echo $this->seoScripts; ?>

        <style>
            body * {
                font-family: 'Georgia';
            }
            
            .headings {
                font-family: 'Calisto MT';
                font-weight: bold;
            }
            
            #tariffs,
            #rules {
                background-color: #666;
                color: #FFF;
            }
            
            .soapyPanel {
                color: #000;
                font-size: 1em;
            }
            
            .calendar {
                margin-top: 75px;
                background-color: #93A262;
                /*background-color:#536775;*/
                bottom: 0;
                right: 0;
                padding: 5px;
                position: relative;
            }
            
            .calendar:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 50px solid #93A262;
                /* border-bottom: 50px solid #536775; */
                border-left: 240px solid transparent;
                border-right: 60px solid transparent;
                position: absolute;
                z-index: 0;
                top: -150px;
                left: 0;
                right: 0;
            }
            
            .top {
                z-index: 1003;
            }
            
            .court-disabled {
                color: #F00;
            }
            
            .court-selected {
                color: green;
            }
            
            .affix {
                top: 0;
                width: 100%;
                z-index: 1000;
            }
            
            .bg-yellow {
                background-color: #ffcc00;
            }
            
            .soapy-navbar {
                background-color: #93A262;
                border-color: #93A262;
                border-radius: 0;
            }
            
            .calTable tr th,
            .calTable tr td {
                text-align: center;
            }
            
            .calTable tr td {
                cursor: pointer;
            }
            
            .calTable tr td.disabled {
                cursor: not-allowed;
            }
            
            .btn-soapy {
                width: 143px;
                text-align: center;
                margin: 4px;
                font-weight: bold;
                font-size: 1em;
            }
            
            #main section {
                padding: 0 0 !important;
            }
            
            #main section.cover {
                padding: 1em 0 important;
            }
            
            #header {
                z-index: 1060;
            }
            
            .rules ul li {
                margin-bottom: 1.8em;
            }
            
            .date-holder {
                width: 42px;
                padding: 5px;
                margin: 3px;
                text-align: center;
            }
            
            .date-holder:hover {
            	border: 1px solid #000;
                border-radius: 21px;
                
            }
            
            td.disabled .date-holder {
                background-color: #CCC;
            }
            
            .text-info {
                color: #269abc;
            }
            
            .flexslider {
                margin-bottom: 0;
            }
            
            img.logo-xs {
                margin: auto;
            }
            
            .headerToggle {
                margin: auto;
                position: relative;
            }
            
            .soapy-cart-table {
                font-size: 10px;
            }
            .footer-nav{
            	font-size:10px;
            	margin-bottom:0px;
            }
            .footer-nav li{
            	margin:20px;
            	display:inline-block;
            }
            
            .hs-responsive-embed { 
position: relative; 
height: 0; 
overflow: hidden; 
padding-top: 0; 
padding-left: 0; 
padding-right: 0; 
}

.hs-responsive-embed iframe, 
.hs-responsive-embed object, 
.hs-responsive-embed embed { 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
border: 0; 
}
.hs-responsive-embed, 
.hs-responsive-embed.hs-responsive-embed-youtube, 
.hs-responsive-embed.hs-responsive-embed-wistia, 
.hs-responsive-embed.hs-responsive-embed-vimeo { 
padding-bottom: 56.25%; 
}
            
            @media screen and (max-width: 960px) {
                #nav ul {
                    margin-top: 0;
                }
                .tariff-timing {
                    font-size: 14px;
                }
                
                .cart-modal-body{
                	padding-left:7px!important;
                	padding-right:7px!important;
                }
                
            }
            
            @media print {
                .non-printable,
                .non-printable * {
                    display: none;
                }
                .printable {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                .printable .btn {
                    display: none;
                }
            }

@keyframes blink{
		0%{opacity: 1;}
		75%{opacity: 1;}
		76%{ opacity: 0;}
		100%{opacity: 0;}
	 }
	
        </style>

        <script>
            Date.prototype.yyyymmdd = function() {
                var mm = this.getMonth() + 1; // getMonth() is zero-based
                var dd = this.getDate();

                return [this.getFullYear(), (mm > 9 ? '' : '0') + mm, (dd > 9 ? '' : '0') + dd].join('-');
            };
            Date.prototype.ddmmm = function() {
                var monthArr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                var mmm = monthArr[this.getMonth()]; // getMonth() is zero-based
                var dd = this.getDate();

                return [(dd > 9 ? '' : '0') + dd,
                    mmm
                ].join('-');
            };
            Date.prototype.fullDateString = function() {
                var mm = this.getMonth();
                var dd = this.getDate();
                var monthArr = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                var hh = this.getHours();
                var minutes = this.getMinutes();
                var ss = this.getSeconds();
                return (dd > 9 ? '' : '0') + dd + "-" + monthArr[mm] + "-" + this.getFullYear() + " " + (hh > 9 ? '' : '0') + hh + ":" + (minutes > 9 ? '' : '0') + minutes + ":" + (ss > 9 ? '' : '0') + ss;

            };
        </script>

        <script>
	        var ADVANCE_AMOUNT = "<?php echo $this->advanceAmount;?>";
	        var GET_AVAILABLE_SLOTS_API = "<?php echo $this->getAvailableSlots;?>";
            var BOOKING_API = "<?php echo $this->bookingAPI;?>";
            var PAYMENT_REQUEST_HANDLER = "<?php echo $this->paymentRequestHandler;?>";
            var TOTAL_COURT_COUNT = "<?php echo $this->totalCourtCount?>";
        </script>

        <script src="<?php echo $this->jsPath;?>/jquery.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/bootstrap.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/angular.js"></script>

        <script src="<?php echo $this->pluginsPath;?>/flexslider/jquery.flexslider-min.js"></script>
        <script src="<?php echo $this->pluginsPath;?>/flexslider/flexslider.config.js"></script>
        <script src="<?php echo $this->jsPath;?>/jquery.scrolly.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/jquery.scrollzer.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/skel.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/util.js"></script>

        <script src="<?php echo $this->jsPath;?>/angular-animate.js"></script>
        <script src="<?php echo $this->jsPath;?>/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="<?php echo $this->jsPath;?>/tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/angularUI-tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/main.js"></script>
        <script src="<?php echo $this->jsPath;?>/core/soapy.js?<?php echo $this->version;?>"></script>
</head>

<body ng-app="soapy-client" ng-controller="client-controller">

    <nav class="navbar navbar-inverse navbar-fixed-top soapy-navbar" ng-show="cart.items.length > 0" class="non-printable">
        <div class="container-fluid" style="margin-left:0">
            <div id="navbar" class="navbar-right">
                <ul class="navbar-nav">
                    <li>
                        <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-right:5px" ng-click="openCartModal()">View Cart</button>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <!-- Header -->
    <div id="header" class="non-printable">

        <div class="top">

            <!-- Logo -->
            <div id="logo" class="hidden-xs hidden-sm">
                <span><img src="<?php echo $this->imagesPath;?>/logo.png" alt="" class="logo"/></span>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="#main"><span>Home</span></a></li>
                    <li><a href="#tariffs"><span>Tariffs</span></a></li>
                    <li><a href="#booknow"><span>Book Now</span></a></li>
                    <li><a href="#rules"><span>Rules</span></a></li>
                    <li><a href="#contact"><span>Contact</span></a></li>
                </ul>
            </nav>

        </div>

        <div class="calendar hidden-sm hidden-xs" style="min-height:35%">

        </div>

    </div>

    <!-- Main -->
    <div id="main">
        <!-- Intro -->
        <section class=" bg-yellow non-printable hidden-lg hidden-md">
            <div class="container-fluid">
                <img src="<?php echo $this->imagesPath;?>/logo.png" alt="" class="logo-xs" />
            </div>
        </section>
        <section class="one dark cover non-printable">
        	<?php if(APPLICATION_ENV != 'DEV'){?>
        	<div class="container-fulid  hs-responsive-embed hs-responsive-embed-youtube" >
      			<iframe style="width:100%;" src="https://www.youtube.com/embed/6rxi1EICVZE?rel=0&amp;autoplay=1&amp;showinfo=0&amp;cc_load_policy=1" frameborder="0" gesture="media" allowfullscreen></iframe>
           </div>
           <?php } ?>
        </section>
        <!-- Booked Details -->
        <section id="bookedDetails" ng-if="booking" class="printable">
            <div class="container">

                <header>
                    <h2 class="headings">Booked Details </h2>
                </header>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="well">
                            <h4><strong>Order Id : <em>{{booking.orderId}}</em></strong></h4>
                            <p style="padding:5px;margin:0">{{booking.bookingDetails.first_name}} &nbsp; {{booking.bookingDetails.last_name}}
                                <br/> <b>Mobile :</b> {{booking.bookingDetails.mobile_no}}
                                <br/> <b>Email :</b> {{booking.bookingDetails.email_id}}</p>
                            <p style="padding:5px;margin:0" ng-repeat="item in booking.items"> <b>Date :</b> {{item.date.yyyymmdd()}} &nbsp; &nbsp; <b>Slot :</b> {{item.slot.slot}}
                                <br/>
                            </p>
                            <p style="padding:5px;margin:0"> <b>Total Amount with GST :</b> {{booking.totalAmountWithGST}} </p>
                            <p style="padding:5px;margin:0"> <b>Total Amount paid :</b> {{booking.items.length * <?php echo $this->advanceAmount;?>}} </p>
                            <p style="padding:5px;margin:0"> <b>Remaining Amount payable at venue :</b> {{booking.totalAmountWithGST-(booking.totalSlots * <?php echo $this->advanceAmount;?>)}} </p>
                            <button class="btn btn-primary" onclick="window.print()">Print</button>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!-- Booked Details End -->
        <!-- tariffs -->
        <section id="tariffs" class="non-printable">
            <div class="container">

                <header>
                    <h2 class="headings">Tariffs & Timings </h2>
                </header>
				<!-- <h5 class=" col-xs-12 text-center hidden-xs hidden-sm" style="padding:0px; animation: blink 1s infinite"><button class="btn btn-xs btn-warning"><b># Combo Offer: Book Box Cricket for flat Rs.1000 per slot with Soap Football Booking. </b></button> </h5> -->
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="panel soapyPanel">
                            <div class="panel-heading ">
                                <h4>COMBO OFFER <br></h4>
                            </div>
                           
                            <div class="panel-body">
                                	
                                	<h4><button class="btn-warning">Box Cricket at Rs.1000/- per slot with each Soap Football slot.</button></h4>
                                	<br/>
                                	<h5>Book one Soap Football slot and get Rs. 500/- off on the 2nd slot.</h5>
                                	<br/>
                                    <h5>Book one Box Cricket slot and get 50% off on the 2nd slot.</h5>
                                    
                                    

                                    <a href="#booknow" class="btn btn-yellow scrolly">BOOK NOW</a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="panel soapyPanel">
                            <div class="panel-heading ">
                                <h4>MONDAY-FRIDAY <br></h4>
                            </div>
                            <!-- <div class="panel-body">
                            	<div class="col-xs-12">
                                    <span class="tariff-timing">
                                    12:30PM - 1:30PM</br>
                                    
                  </span>

                                    <h3>2700/Hour</h3>
                                    <a href="#booknow" class="btn btn-yellow scrolly">BOOK NOW</a>
                                </div>
                            </div> -->
                            <div class="panel-body">
                                <div class="col-xs-6">
                                    <span class="tariff-timing">
                                    10:00AM - 4:00PM</br>
                                    HAPPY HOURS
                  </span>
                  <br/><br/>

                                    <h4>SOAP FOOTBALL - 2500/Hr<br/><br/><br/> BOX CRICKET - 1300/Hr</h4>
                                    
                                    <a href="#booknow" class="btn btn-yellow scrolly">BOOK NOW</a>
                                </div>
                                <div class="col-xs-6">
                                    <span class="tariff-timing">
                                    4:00PM - 2:00AM</br>
                                    NORMAL HOURS
                  </span>
                  <br/><br/>

                                    <h4>SOAP FOOTBALL - 2800/Hr<br/><br/><br/> BOX CRICKET - 1600/Hr</h4>
                                    

                                    <a href="#booknow" class="btn btn-yellow scrolly">BOOK NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
<!-- <div class=" col-xs-12 text-center hidden-lg hidden-md" style="padding:0px; animation: blink 1s infinite"><button class=" col-xs-12 btn-xs btn-warning"><b># Combo Offer: Book Box Cricket for flat Rs.1000 per slot with Soap Football Booking. </b></button> </div> -->
                

	<div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="panel soapyPanel">
                            <div class="panel-heading">
                                <h4>SATURDAY, SUNDAY <span class="hidden-xs hidden-sm"> &  Public Holidays</span> <span class="hidden-lg hidden-md"><br> & <br> Public Holidays </span></h4>
                            </div>
                            <div class="panel-body">
                            	<!-- <div class="col-xs-12">
 									 <span class="tariff-timing">
                                    12:30PM - 1:30PM</br>
                                    
									</span>

                                    <h3>3000/Hour</h3>

                                    <a href="#booknow" class="btn btn-yellow scrolly">BOOK NOW</a>
                            	
                            	</div> -->
                                 <div class="col-xs-6">
                                    <span class="tariff-timing">
                                    10:00AM - 4:00PM</br>
					HAPPY HOURS
                                    
									</span>
<br/><br/>

                                    <h4>SOAP FOOTBALL - 3300/Hr<br/><br/><br/> BOX CRICKET - 1300/Hr</h4>

                                    <a href="#booknow" class="btn btn-yellow scrolly">BOOK NOW</a>
                                </div>
<div class="col-xs-6">
                                    <span class="tariff-timing">
                                    4:00PM - 2:00AM</br>
					NORMAL HOURS
                                    
									</span>
<br/><br/>
                                    <h4>SOAP FOOTBALL - 3300/Hr<br/><br/><br/> BOX CRICKET - 1600/Hr</h4>

                                    <a href="#booknow" class="btn btn-yellow scrolly">BOOK NOW</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <h5 class=" col-xs-12 text-center" style="padding:0px;"># Tariff applicable for 10 players + 2 subsititues </h5>
					<h5 class=" col-xs-12 text-center"># Use of  outside food + party space will be charged Rs. 800/- per hr. </h5>
                    
                </div>

            </div>
        </section>

        <section id="booknow" class="non-printable">
            <div class="container">
                <h2 class="text-center headings">Book Now</h2>
                <table class="calTable table-bordered" id="calTable">
                    <thead>
                        <tr class="calHead">
                            <th colspan="1" class="text-center" ng-click="goPrevMonth()"><span ng-if="(currentDate.getMonth() < currentCalendarMonth) || (currentDate.getFullYear() < currentCalendarYear)" class="fa fa-angle-double-left"></span></th>
                            <th colspan="5" class="text-center">{{monthsArr[currentCalendarMonth]}}&nbsp; - &nbsp;{{currentCalendarYear}}</th>
                            <th colspan="1" class="text-center" ng-click="goNextMonth()"><span class="fa fa-angle-double-right"></span></th>
                        </tr>

                        <tr>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Sun</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="week in weeksArr">
                            <td ng-class="{'disabled':(!date|| date <= yesterDayDate), 'selected':(date && date == selectedDate)}" ng-click="selectDate($event, date)" ng-repeat="date in week track by $index">

                                <span class="fa fa-fw " ng-class="{'date-holder':date}">{{date?date.getDate():''}}</span>
                            </td>
                        </tr>
                        <tr id="slot-tr">
                            <td colspan='7'>
                                <div class="well">
                                    <div class="row" style="margin-left:-15px; margin-right:-15px;margin-top:0">
                                        <div class="col-xs-12" style="padding-left:15px; padding-left:15px;padding-top:0px">
                                            <h4>Available Slots &nbsp; &nbsp; <button class="btn btn-xs btn-primary" type="button" ng-click="openCartModal()" ng-if="cart.items.length > 0">Checkout</button></h4>
                                            <span><i class="fa fa-square text-success"></i> - Available</span>&nbsp; &nbsp;<span><i class="fa fa-square text-danger"></i> - Not Available</span>&nbsp; &nbsp;<span class="hidden-sm hidden-xs"><i class="fa fa-square text-info"></i> - Selected</span><span class="hidden-lg hidden-md"><br><i class="fa fa-square text-info"></i> - Selected</span>
                                            <hr/>
                                        </div>

                                        <div class="col-xs-12" style="padding-left:15px; padding-left:15px;padding-top:0px" ng-if="slotLoading">
                                            <b><i class="fa fa-spinner fa-pulse fa-3x" ></i></b>
                                            <hr/>
                                        </div>
                                        <div class="col-xs-12" ng-repeat="(courtId, courtSlots) in availableSlots" style="padding-left:15px; padding-left:15px;padding-top:0px">
                                            <div class="row" style="margin-left:-15px; margin-right:-15px;margin-top:0">
                                                <div class="col-md-3" style="padding-left:15px; padding-left:15px;padding-top:0px">
                                                    <h4 class="text-center"><b>{{courtSlots.court_name}}</b></h4>
                                                </div>
                                                <div class="col-md-9" style="padding-left:15px; padding-left:15px;padding-top:0px">
                                                    <button class="btn btn-xs btn-soapy fa" ng-class="{'btn-success':(slot.is_booked == '0' && slot.is_maintenance == '0'), 'btn-danger':(slot.is_booked == '1' || slot.is_maintenance == '1'), 'btn-info':slot.selected}" ng-repeat="slot in courtSlots.slots" ng-click="selectSlot(slot)" uib-tooltip="{{slot.court_id == '2' ? 'Box Cricket at Rs.1000/- per slot with each Soap Football slot.' : 'Book one Box Cricket slot and get 50% off on the 2nd sot.' }}">{{slot.slot}}</button>
                                                </div>
                                            </div>
                                            <hr/>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- rules -->
        <section id="rules" class="non-printable">
            <div class="container">
                <header>
                    <h2 class="headings">Rules</h2>
                </header>

                <div class="row rules text-justify">
                    <ul>
                        <li># <b>10 Players + 2 Subsititues</b> allowed per slot.</li>
                        <li># Each slot will be of <b>55 minutes duration.</b> Kindly come<b> 15 minutes prior</b> to your slot.</li>
                        <li># Players must be within the below mentioned height and weight limits to play. This guideline is followed strictly for the safety of the players.<a href="" class="btn btn-info" data-toggle="modal" data-target="#weight"> View Weight Chart </a></li>
                        <li># <b>Change Room and Shower facilities</b> are available at the venue, kindly bring spare clothes for change.</li>
                    </ul>
                </div>
                <div class="well">
                    <h4><b class="text-danger"><em>The management will not be responsible for any Injuries/Accidents. <br><br>In case of any such events, the participants will not be able to hold the management responsible or claim any sort of compensation.</em></b></h4>
                </div>

            </div>
        </section>

        <!-- Contact -->
        <section id="contact" class="non-printable">
            <div class="container">
                <header>
                    <h2 class="headings">Contact</h2>
                </header>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget-contact">
                            <address class="text-center">
                  <strong>Soap Football Hyderabad.</strong><br>
                  Kavuri Incor 9,<br>
                  5th Floor, Kavuri Hills, <br>
                  Madhapur, Hyderabad - 500081.<br>
                  (Landmark : D-Mart Supermarket Roof top, Near Mercedes Showroom).<br>
                  <i class="fa fa-phone"></i>  +91 8897667867.
              </address>
                            <br>
                            <address class="text-center">
                <strong>We're on social networks</strong><br>
                              <a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a> 
              </address>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        <h4 class="pull-left headings">Get In Direction</h4>
                        <div id="map" style="width:100%;height:400px"></div>
                        <script>
                            function initMap() {
                                var uluru = {
                                    lat: 17.438027,
                                    lng: 78.395227
                                };
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 18,
                                    center: uluru
                                });
                                var marker = new google.maps.Marker({
                                    position: uluru,
                                    map: map
                                });
                            }
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7Js8wBXmAMcfz4qrcsR-sPXh1XHyoYlk&callback=initMap" async defer></script>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cartModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title headings">Booking Information</h4>
                </div>
                <div class="modal-body cart-modal-body">
                    <div class="container-fluid">
                        <div class="row">
                        <div class=" col-xs-12 text-center"><button class=" btn-xs btn-warning"><b># Combo Offer: Box Cricket at Rs.1000/- per slot with each Soap Football slot.</b></button> </div>
                            <div class="col-xs-12" style="padding-left:8px; padding-right:8px">
                                <div class="table-responsive">
                                    <table class="table table-stripped table-condensed soapy-cart-table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Slot</th>
                                                <th>Court</th>
                                                <th>Amount</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in cart.items">
                                                <td>{{item.date.ddmmm()}}</td>
                                                <td>{{item.slot.slot}}</td>
                                                <td>{{item.slot.short_code}}</td>
                                                <td>{{item.amount}}</td>
                                                <td>
                                                    <button class="btn btn-xs btn-danger" ng-click="removeCartItem(item, $index)">X</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>Total Slots</td>
                                                <th>{{cart.totalSlots}}</th>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Total Amount</td>
                                                <th>{{cart.totalAmount}}</th>
                                                <td></td>
                                            </tr>
                                            <!-- <tr>
                                                <td colspan="2">Total Amount + GST</td>
                                                <th>{{cart.totalAmountWithGST}}</th>
                                                <td></td>
                                            </tr> -->
                                            <tr>
                                                <td colspan="2">Advance Booking Amount
                                                    <br>(<?php echo $this->advanceAmount;?> per Slot ) (<?php echo $this->advanceAmount;?> * {{cart.totalSlots}} {{cart.totalSlots > 1 ? 'Slots' : 'Slot'}})</td>
                                                <th>{{cart.advancePayment}}</th>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">Balance Amount payable at the venue</td>
                                                <th>{{cart.balance}}</th>
                                                <td></td>
                                            </tr>
                                        </tfoot>

                                    </table>
                                    <h5 style="font-size:10px">* SF - SOAP FOOTBALL , BC - BOX Cricket</h5>
                                </div>
                                <!-- <table class="table table-stripped table-hover">
                      <tr>
                        <th>Total Amount with GST  </th>
                        <th>:</th>
                        <td>{{cart.totalAmountWithGST}}</td>
                      </tr>
                      <tr>
                        <th>Advance Amount (per Slot Rs.300) ({{cart.totalSlots}} * 300)</th>
                        <th>:</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>Remaining Amount which is payable at venue</th>
                        <th>:</th>
                        <td>{{cart.balance}}</td>
                      </tr>
                    </table> -->
                                <button type="button" class="btn btn-primary pull-right" ng-click="showBookingPopup()">Continue</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="book" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title headings">Contact Information</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="book()">

                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Enter First Name" ng-model="bookingDetails.first_name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Enter Last Name" ng-model="bookingDetails.last_name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="number" class="form-control col-md-6" placeholder="Enter Mobile No" ng-model="bookingDetails.mobile_no" required>

                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control col-md-6" placeholder="Enter email" ng-model="bookingDetails.email_id" required>
                        </div>
                        <table class="table table-stripped table-hover soapy-cart-table">

                            <tr>
                            	<td colspan="2">Total Amount</td>
                                <th>{{cart.totalAmount}}</th>
                                <td></td>
                            </tr>
                            <!-- <tr>
                                <td colspan="2">Total Amount + GST</td>
                                <th>{{cart.totalAmountWithGST}}</th>
                                <td></td>
                          	</tr> -->
                            <tr>
                                <td>Advance Booking Amount
                                    <br>(<?php echo $this->advanceAmount;?> per Slot ) (<?php echo $this->advanceAmount;?> * {{cart.totalSlots}} {{cart.totalSlots > 1 ? 'Slots' : 'Slot'}})</td>
                                <th>{{cart.advancePayment}}</th>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Balance Amount payable at the venue</td>
                                <th>{{cart.balance}}</th>
                                <td></td>
                            </tr>

                        </table>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="isAgreed">
                                <h4 class="redText">I agree to pay the Remaining Amount at the Venue. <br><br>Slot Advance Payment is Non-Refundable<br><br>The management will not be responsible for any Injuries/Accidents. <br><br>In case of any such events, the participants will not be able to hold the management responsible or claim any sort of compensation.</h4>
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" ng-show="isAgreed" class="btn btn-primary">Book</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for weight chart -->
    <div class="modal fade" id="weight" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title headings">Player Weight Chart</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th>Height (Feet)</th>
                                <th>Maximum Weight Allowed (Kg)</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>4'10"</td>
                                <td>69-71</td>
                            </tr>

                            <tr>
                                <td>4'11"</td>
                                <td>71-73</td>
                            </tr>

                            <tr>
                                <td>5'0"</td>
                                <td>73-76</td>
                            </tr>
                            <tr>
                                <td>5'1"</td>
                                <td>76-79</td>
                            </tr>
                            <tr>
                                <td>5'2"</td>
                                <td>79-81</td>
                            </tr>
                            <tr>
                                <td>5'3"</td>
                                <td>81-84</td>
                            </tr>
                            <tr>
                                <td>5'4"</td>
                                <td>84-86</td>
                            </tr>
                            <tr>
                                <td>5'5"</td>
                                <td>86-89</td>
                            </tr>
                            <tr>
                                <td>5'6"</td>
                                <td>89-92</td>
                            </tr>
                            <tr>
                                <td>5'7"</td>
                                <td>92-95</td>
                            </tr>
                            <tr>
                                <td>5'8"</td>
                                <td>95-97</td>
                            </tr>
                            <tr>
                                <td>5'9"</td>
                                <td>97-100</td>
                            </tr>
                            <tr>
                                <td>5'10"</td>
                                <td>100-103</td>
                            </tr>
                            <tr>
                                <td>5'11"</td>
                                <td>103-105</td>
                            </tr>
                            <tr>
                                <td>6'0"</td>
                                <td>105-109</td>
                            </tr>
                            <tr>
                                <td>6'1"</td>
                                <td>109-112</td>
                            </tr>
                            <tr>
                                <td>6'2"</td>
                                <td>112-113</td>
                            </tr>
                            <tr>
                                <td>6'3"</td>
                                <td>115-118</td>
                            </tr>
                            <tr>
                                <td>6'4"</td>
                                <td>118-122</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div id="footer" class="non-printable">
    	<ul class="footer-nav">
		<li><a href="terms-conditions"><span>Terms & Conditions</span></a></li>
                    <li><a href="refund-policy"><span>Refund Policy</span></a></li>
                    <li><a href="privacy-policy"><span>Privacy Policy</span></a></li>
         </ul>
        <!-- Copyright -->
        <p>Powered By
            <a href="http://www.freniz.com/" style="color:#33cccc !important">
        Freniz Software Solutions
      </a>
    </div>
</body>

</html>
