<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Soap FootBall Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <?php echo $this->css; ?>

        <link rel="stylesheet" href="<?php echo $this->cssPath;?>/app.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

        <?php echo $this->seoScripts; ?>

            <script>
                var BASE_URL = "<?php echo $this->baseURL;?>";
                var CONTENT_URL = "<?php echo $this->contentURL;?>";
                var MODULE_ID = "<?php echo $this->moduleId;?>";
            </script>

            <?php echo $this->scripts; ?>

</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="clientAdmin">
    <div class="wrapper" ng-controller="clientAdminController">
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>AP</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin Panel</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs fa fa-user-secret">Admin Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <span style="font-size:5em" class="fa fa-user-secret"></span>
                                    <p>
                                        Admin Name
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div>
                    <ul class="sidebar-menu">
                        <li class="header header-title"><span class="fa fa-dashboard"></span>&nbsp;Dashboard</li>
                        <ul class="sidebar-menu">
                            <li class="dropdown">
                                <a href="#" role="button" aria-haspopup="true" aria-expanded="false" class=" dropdown-toggle"><i class="fa fa-desktop"></i><span  class=" ">Component</span><span  class="pull-right-container "><i class="pull-right caret pull-right"></i></span></a>
                                <ul class="treeview-menu sidebar-menu ">
                                    <li>
                                        <a href="<?php echo $this->designsUrl;?>" role="button" aria-haspopup="true" aria-expanded="false" class=""><i class=""></i> Designs</a>
                                    </li>
                                    <li>
                                        <a href="<?php echo $this->coreUrl;?>" role="button" aria-haspopup="true" aria-expanded="false" class=""><i class=""></i> Core</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="<?php echo $this->modulesUrl;?>" role="button" aria-haspopup="true" aria-expanded="false" class=""><i class="fa fa-th"></i><span  class=" ">Modules</span></a>
                            </li>
                            <li>
                                <a href="<?php echo $this->tabsUrl;?>" role="button" aria-haspopup="true" aria-expanded="false" class=""><i class="fa fa-bars"></i><span  class=" ">Tabs</span></a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>
            <!-- Main content -->
            <div class="container col-md-12">
                <?php echo $this->layout()->content; ?>
            </div>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <a href="http://freniz.com">Freniz</a>
            </div>
            <strong>Copyright &copy; 2017.</strong> All rights reserved.
        </footer>

        <!-- ./wrapper -->
</body>

</html>