<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Soap FootBall Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/font-awesome.min.css">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/toaster.css">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/angular-rating-icons.min.css">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/adminDefault.css">
    <link rel="stylesheet" href="<?php echo $this->cssPath; ?>/_all-skins.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <?php echo $this->seoScripts; ?>

        <script>
            var BASE_URL = "<?php echo $this->baseURL;?>";
            var CONTENT_URL = "";
            var MODULE_ID = "";
        </script>
        <script>
            Date.prototype.yyyymmdd = function() {
                var mm = this.getMonth() + 1; // getMonth() is zero-based
                var dd = this.getDate();

                return [this.getFullYear(), (mm > 9 ? '' : '0') + mm, (dd > 9 ? '' : '0') + dd].join('-');
            };
            Date.prototype.fullDateString = function() {
                var mm = this.getMonth();
                var dd = this.getDate();
                var monthArr = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                var hh = this.getHours();
                var minutes = this.getMinutes();
                var ss = this.getSeconds();
                return (dd > 9 ? '' : '0') + dd + "-" + monthArr[mm] + "-" + this.getFullYear() + " " + (hh > 9 ? '' : '0') + hh + ":" + (minutes > 9 ? '' : '0') + minutes + ":" + (ss > 9 ? '' : '0') + ss;

            };
        </script>
        <script src="<?php echo $this->jsPath; ?>/jquery.min.js"></script>
        <script src="<?php echo $this->jsPath; ?>/bootstrap.min.js"></script>
        <script src="<?php echo $this->jsPath; ?>/angular.js"></script>
        <script src="<?php echo $this->jsPath; ?>/toaster.js"></script>
        <script src="<?php echo $this->jsPath; ?>/appAdmin.js"></script>
        <script src="<?php echo $this->jsPath; ?>/tinymce.js"></script>
        <script src="<?php echo $this->jsPath; ?>/angularUI-tinymce.js"></script>
	    <script src="<?php echo $this->jsPath; ?>/angular-rating-icons.min.js"></script>
        <script src="<?php echo $this->jsPath; ?>/core/soapy-admin.js"></script>

</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>AP</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin Panel</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs fa fa-user-secret">Admin Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <span style="font-size:5em" class="fa fa-user-secret"></span>
                                    <p>
                                        Admin Name
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="<?php echo $this->logoutUrl;?>" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->

            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="container col-md-12" ng-app="soapy-admin">
                <?php echo $this->layout()->content;?>
            </div>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <a href="<?php echo $this->siteUrl?>">Freniz</a>
            </div>
            <strong>Copyright &copy; 2017.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
</body>

</html>