<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Soap Football Hyderabad</title>

    <link href="<?php echo $this->pluginsPath;?>/flexslider/flexslider.css" rel="stylesheet" media="screen" />

    <link href="<?php echo $this->cssPath;?>/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->cssPath;?>/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="<?php echo $this->cssPath;?>/main.css">

    <script src="<?php echo $this->jsPath;?>/jquery.min.js"></script>
    <script src="<?php echo $this->jsPath;?>/bootstrap.min.js"></script>
    <script src="<?php echo $this->jsPath;?>/angular.js"></script>
    <?php echo $this->seoScripts; ?>
        <style>
            .affix {
                z-index: 1000;
                bottom: 0;
                width: 100%;
            }
            
            .calendar {
                margin-top: 75px;
                background-color: #93A262;
                bottom: 0;
                right: 0;
                padding: 5px;
                position: relative;
            }
            
            .calendar:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 50px solid #93A262;
                border-left: 240px solid transparent;
                border-right: 60px solid transparent;
                position: absolute;
                z-index: 0;
                top: -150px;
                left: 0;
                right: 0;
            }
        </style>

</head>

<body>
    <!-- Header -->
    <div id="header" class="non-printable">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <span><img src="<?php echo $this->imagesPath;?>/logo.png" alt="" class="logo"/></span>
            </div>

            <!-- Nav -->

        </div>

        <div class="calendar" style="min-height:35%">

        </div>

    </div>

    <!-- Main -->
    <div id="main">
        <h1 class="text-center"><strong>Website Under Maintanence</strong></h1>

    </div>
    <!-- Footer -->
    <div id="footer" data-spy="affix">

        <!-- Copyright -->
        <p>Powered By
            <a href="http://www.freniz.com/" style="color:#33cccc !important">
        Freniz
      </a>
    </div>
</body>

</html>