<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Soap Football Hyderabad</title>

    <link href="<?php echo $this->pluginsPath;?>/flexslider/flexslider.css" rel="stylesheet" media="screen" />

    <link href="<?php echo $this->cssPath;?>/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->cssPath;?>/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="<?php echo $this->cssPath;?>/main.css">
    <?php echo $this->seoScripts; ?>

        <style>
            body * {
                font-family: 'Georgia';
            }
            
            .headings {
                font-family: 'Calisto MT';
                font-weight: bold;
            }
            
            #tariffs,
            #rules {
                background-color: #666;
                color: #FFF;
            }
            
            .soapyPanel {
                color: #000;
                font-size: 1em;
            }
            
            .calendar {
                margin-top: 75px;
                background-color: #93A262;
                /*background-color:#536775;*/
                bottom: 0;
                right: 0;
                padding: 5px;
                position: relative;
            }
            
            .calendar:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 50px solid #93A262;
                /* border-bottom: 50px solid #536775; */
                border-left: 240px solid transparent;
                border-right: 60px solid transparent;
                position: absolute;
                z-index: 0;
                top: -150px;
                left: 0;
                right: 0;
            }
            
            .top {
                z-index: 1003;
            }
            
            .court-disabled {
                color: #F00;
            }
            
            .court-selected {
                color: green;
            }
            
            .affix {
                top: 0;
                width: 100%;
                z-index: 1000;
            }
            
            .bg-yellow {
                background-color: #ffcc00;
            }
            
            .soapy-navbar {
                background-color: #93A262;
                border-color: #93A262;
                border-radius: 0;
            }
            
            .calTable tr th,
            .calTable tr td {}
            
            .calTable tr td {
                cursor: pointer;
            }
            
            .calTable tr td.disabled {
                cursor: not-allowed;
            }
            
            .btn-soapy {
                width: 143px;
                margin: 4px;
                font-weight: bold;
                font-size: 1em;
            }
            
            #main section {
                padding: 0.2em 0 !important;
                text-align: left;
            }
            
            #footer {
                margin-top: -10px;
            }
        </style>

        <script src="<?php echo $this->jsPath;?>/jquery.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/bootstrap.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/angular.js"></script>

        <script src="<?php echo $this->pluginsPath;?>/flexslider/jquery.flexslider-min.js"></script>
        <script src="<?php echo $this->pluginsPath;?>/flexslider/flexslider.config.js"></script>
        <script src="<?php echo $this->jsPath;?>/jquery.scrolly.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/jquery.scrollzer.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/skel.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/util.js"></script>

        <script src="<?php echo $this->jsPath;?>/angular-animate.js"></script>
        <script src="<?php echo $this->jsPath;?>/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="<?php echo $this->jsPath;?>/tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/angularUI-tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/main.js"></script>
        <script src="<?php echo $this->jsPath;?>/core/soapy.js"></script>
</head>

<body ng-app="soapy-client" ng-controller="client-controller">

    <!-- Header -->
    <div id="header" class="non-printable">

        <div class="top">

            <!-- Logo -->
            <div id="logo" class="hidden-xs hidden-sm">
                <span><img src="<?php echo $this->imagesPath;?>/logo.png" alt="" class="logo"/></span>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/"><span>Home</span></a></li>

                    <li><a href="terms-conditions"><span>Terms & Conditions</span></a></li>
                    <li><a href="refund-policy"><span>Refund Policy</span></a></li>
                    <li><a href="#"><span>Privacy Policy</span></a></li>

                </ul>
            </nav>

        </div>

        <div class="calendar hidden-sm hidden-xs" style="min-height:35%">

        </div>

    </div>

    <!-- Main -->
    <div id="main">
        <!-- Intro -->

        <!-- rules -->
        <section id="rules" class="non-printable">
            <div class="container">
                <header>
                    <h2 class="headings">Privacy Policy</h2>
                </header>

                <div class="wpb_wrapper">

                    <p><span style="font-weight: 400;">
                    <p>
                    Soap Football Hyderabad respects your privacy and recognizes the need to protect the personally identifiable information (any information by which you can be identified, such as name, address, and telephone number) you share with us. We would like to assure you that we follow appropriate standards when it comes to protecting your privacy on our web sites.
                    </p>
                    <p>

                    In general, you can visit Freniz Product without telling us who you are or revealing any personal information about yourself. We track the Internet address of the domains from which people visit us and analyze this data for trends and statistics, but the individual user remains anonymous.
                    </p>
                    <p>
                    Some of our web pages use "cookies" so that we can better serve you with customized information when you return to our site. Cookies are identifiers which a web site can send to your browser to keep on your computer to facilitate your next visit to our site. You can set your browser to notify you when you are sent a cookie, giving you the option to decide whether or not to accept it. The information we collect and analyze is used to improve our service to you.
                    </p>
                    <p>
                    There are times when we may collect personal information from you such as name, physical address or telephone number. It is our intent to inform you before we do that and to tell you what we intend to do with the information. Generally, you will have the option not to provide the information, and in the future you will be able to "opt out" of certain uses of the information. If you choose not to provide the information we request, you can still visit the Freniz Product, but you may be unable to access certain options, offers and services.
                    </p>
                    <p>
                    Soap Football Hyderabad will not sell, trade or disclose to third parties any information derived from the registration for, or use of, any online service (including names and addresses) without the consent of the user or customer (except as required by subpoena, search warrant, or other legal process or in the case of imminent physical harm to the user or others). Soap Football Hyderabad will allow suppliers to access the information for purposes of confirming your registration and providing you with benefits you are entitled to.
                    </p>
                    <p>
                    Soap Football Hyderabad will take appropriate steps to protect the information you share with us. We have implemented technology and security features and strict policy guidelines to safeguard the privacy of your personally identifiable information from unauthorized access and improper use or disclosure. Soap Football Hyderabad will continue to enhance our security procedures as new technology becomes available.
                    </p>
                    <p>
                    If our privacy policy changes in the future, it will be posted here and a new effective date will be shown. You should access our privacy policy regularly to ensure you understand our current policies. Please reference the privacy policy in your subject line. Soap Football Hyderabad will attempt to respond to all reasonable concerns or inquiries within five business days of receipt.
                    </p>
                    Privacy Policy updated as on 26th Sep, 2017.
                    </span></p>

                </div>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <div id="footer" class="non-printable">

        <!-- Copyright -->
        <p>Powered By
            <a href="http://www.freniz.com/" style="color:#33cccc !important">
        Freniz Software Solutions
      </a>
    </div>
</body>

</html>