<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Soap Football Hyderabad</title>

    <link href="<?php echo $this->pluginsPath;?>/flexslider/flexslider.css" rel="stylesheet" media="screen" />

    <link href="<?php echo $this->cssPath;?>/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->cssPath;?>/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="<?php echo $this->cssPath;?>/main.css">
    <?php echo $this->seoScripts; ?>

        <style>
            body * {
                font-family: 'Georgia';
            }
            
            .headings {
                font-family: 'Calisto MT';
                font-weight: bold;
            }
            
            #tariffs,
            #rules {
                background-color: #666;
                color: #FFF;
            }
            
            .soapyPanel {
                color: #000;
                font-size: 1em;
            }
            
            .calendar {
                margin-top: 75px;
                background-color: #93A262;
                /*background-color:#536775;*/
                bottom: 0;
                right: 0;
                padding: 5px;
                position: relative;
            }
            
            .calendar:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 50px solid #93A262;
                /* border-bottom: 50px solid #536775; */
                border-left: 240px solid transparent;
                border-right: 60px solid transparent;
                position: absolute;
                z-index: 0;
                top: -150px;
                left: 0;
                right: 0;
            }
            
            .top {
                z-index: 1003;
            }
            
            .court-disabled {
                color: #F00;
            }
            
            .court-selected {
                color: green;
            }
            
            .affix {
                top: 0;
                width: 100%;
                z-index: 1000;
            }
            
            .bg-yellow {
                background-color: #ffcc00;
            }
            
            .soapy-navbar {
                background-color: #93A262;
                border-color: #93A262;
                border-radius: 0;
            }
            
            .calTable tr th,
            .calTable tr td {}
            
            .calTable tr td {
                cursor: pointer;
            }
            
            .calTable tr td.disabled {
                cursor: not-allowed;
            }
            
            .btn-soapy {
                width: 143px;
                margin: 4px;
                font-weight: bold;
                font-size: 1em;
            }
            
            #main section {
                padding: 0.2em 0 !important;
                text-align: left;
            }
            
            #footer {
                margin-top: -10px;
            }
            
            .space-bar {
                height: 80px
            }
        </style>

        <script src="<?php echo $this->jsPath;?>/jquery.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/bootstrap.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/angular.js"></script>

        <script src="<?php echo $this->pluginsPath;?>/flexslider/jquery.flexslider-min.js"></script>
        <script src="<?php echo $this->pluginsPath;?>/flexslider/flexslider.config.js"></script>
        <script src="<?php echo $this->jsPath;?>/jquery.scrolly.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/jquery.scrollzer.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/skel.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/util.js"></script>

        <script src="<?php echo $this->jsPath;?>/angular-animate.js"></script>
        <script src="<?php echo $this->jsPath;?>/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="<?php echo $this->jsPath;?>/tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/angularUI-tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/main.js"></script>
        <script src="<?php echo $this->jsPath;?>/core/soapy.js"></script>
</head>

<body ng-app="soapy-client" ng-controller="client-controller">

    <!-- Header -->
    <div id="header" class="non-printable">

        <div class="top">

            <!-- Logo -->
            <div id="logo" class="hidden-xs hidden-sm">
                <span><img src="<?php echo $this->imagesPath;?>/logo.png" alt="" class="logo"/></span>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/"><span>Home</span></a></li>

                    <li><a href="terms-conditions"><span>Terms & Conditions</span></a></li>
                    <li><a href="#"><span>Refund Policy</span></a></li>
                    <li><a href="privacy-policy"><span>Privacy Policy</span></a></li>

                </ul>
            </nav>

        </div>

        <div class="calendar hidden-sm hidden-xs" style="min-height:35%">

        </div>

    </div>

    <!-- Main -->
    <div id="main">
        <!-- Intro -->

        <!-- rules -->
        <section id="rules" class="non-printable">
            <div class="container">
                <header>
                    <h2 class="headings">Refund Policy</h2>
                </header>

                <div class="wpb_wrapper">

                    <p><span style="font-weight: 400;">In case of cancellation No Refund will be provided for the successfull payment.</span></p>
                    <p><strong>Failed Payment</strong></p>
                    <p><span style="font-weight: 400;">Failed Payment will be refunded by ccavenue within 7 working days. In case of any quiries please contact ccavenue Customer Care.</span></p>

                    <p><strong>ccavenue Faqs:</strong></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Faqs </span><a href="https://mars.ccavenue.com/faq_ccav.jsp"><span style="font-weight: 400;">https://mars.ccavenue.com/faq_ccav.jsp</span></a></li>

                    </ul>

                </div>
                <div class="space-bar"></div>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <div id="footer" class="non-printable">

        <!-- Copyright -->
        <p>Powered By
            <a href="http://www.freniz.com/" style="color:#33cccc !important">
        Freniz Software Solutions
      </a>
    </div>
</body>

</html>