<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Soap Football Hyderabad</title>

    <link href="<?php echo $this->pluginsPath;?>/flexslider/flexslider.css" rel="stylesheet" media="screen" />

    <link href="<?php echo $this->cssPath;?>/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $this->cssPath;?>/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="<?php echo $this->cssPath;?>/main.css">
    <?php echo $this->seoScripts; ?>

        <style>
            body * {
                font-family: 'Georgia';
            }
            
            .headings {
                font-family: 'Calisto MT';
                font-weight: bold;
            }
            
            #tariffs,
            #rules {
                background-color: #666;
                color: #FFF;
            }
            
            .soapyPanel {
                color: #000;
                font-size: 1em;
            }
            
            .calendar {
                margin-top: 75px;
                background-color: #93A262;
                /*background-color:#536775;*/
                bottom: 0;
                right: 0;
                padding: 5px;
                position: relative;
            }
            
            .calendar:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 100px solid transparent;
                border-bottom: 50px solid #93A262;
                /* border-bottom: 50px solid #536775; */
                border-left: 240px solid transparent;
                border-right: 60px solid transparent;
                position: absolute;
                z-index: 0;
                top: -150px;
                left: 0;
                right: 0;
            }
            
            .top {
                z-index: 1003;
            }
            
            .court-disabled {
                color: #F00;
            }
            
            .court-selected {
                color: green;
            }
            
            .affix {
                top: 0;
                width: 100%;
                z-index: 1000;
            }
            
            .bg-yellow {
                background-color: #ffcc00;
            }
            
            .soapy-navbar {
                background-color: #93A262;
                border-color: #93A262;
                border-radius: 0;
            }
            
            .calTable tr th,
            .calTable tr td {}
            
            .calTable tr td {
                cursor: pointer;
            }
            
            .calTable tr td.disabled {
                cursor: not-allowed;
            }
            
            .btn-soapy {
                width: 143px;
                margin: 4px;
                font-weight: bold;
                font-size: 1em;
            }
            
            #main section {
                padding: 0.2em 0 !important;
                text-align: left;
            }
            
            #footer {
                margin-top: -10px;
            }
        </style>

        <script src="<?php echo $this->jsPath;?>/jquery.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/bootstrap.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/angular.js"></script>

        <script src="<?php echo $this->pluginsPath;?>/flexslider/jquery.flexslider-min.js"></script>
        <script src="<?php echo $this->pluginsPath;?>/flexslider/flexslider.config.js"></script>
        <script src="<?php echo $this->jsPath;?>/jquery.scrolly.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/jquery.scrollzer.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/skel.min.js"></script>
        <script src="<?php echo $this->jsPath;?>/util.js"></script>

        <script src="<?php echo $this->jsPath;?>/angular-animate.js"></script>
        <script src="<?php echo $this->jsPath;?>/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="<?php echo $this->jsPath;?>/tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/angularUI-tinymce.js"></script>
        <script src="<?php echo $this->jsPath;?>/main.js"></script>
        <script src="<?php echo $this->jsPath;?>/core/soapy.js"></script>
</head>

<body ng-app="soapy-client" ng-controller="client-controller">

    <!-- Header -->
    <div id="header" class="non-printable">

        <div class="top">

            <!-- Logo -->
            <div id="logo" class="hidden-xs hidden-sm">
                <span><img src="<?php echo $this->imagesPath;?>/logo.png" alt="" class="logo"/></span>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/"><span>Home</span></a></li>

                    <li><a href="#"><span>Terms & Conditions</span></a></li>
                    <li><a href="refund-policy"><span>Refund Policy</span></a></li>
                    <li><a href="privacy-policy"><span>Privacy Policy</span></a></li>

                </ul>
            </nav>

        </div>

        <div class="calendar hidden-sm hidden-xs" style="min-height:35%">

        </div>

    </div>

    <!-- Main -->
    <div id="main">
        <!-- Intro -->

        <!-- rules -->
        <section id="rules" class="non-printable">
            <div class="container">
                <header>
                    <h2 class="headings">Terms And Conditions</h2>
                </header>

                <div class="wpb_wrapper">

                    <p><span style="font-weight: 400;">By accessing this website we assume you accept these terms and conditions in full. Do not continue to use Soap Football website if you do not accept all of the terms and conditions stated on this page.</span></p>
                    <p><span style="font-weight: 400;">The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: &#8220;Client&#8221;, “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. &#8220;The Company&#8221;, “Ourselves”, “We”, “Our” and &#8220;Us&#8221;, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law of India. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</span></p>
                    <p><strong>Cookies</strong></p>
                    <p><span style="font-weight: 400;">We employ the use of cookies. By using Soap Football website you consent to the use of cookies in accordance with Soap Football privacy policy.</span></p>
                    <p><span style="font-weight: 400;">Most of the modern day interactive web sites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate / advertising partners may also use cookies.</span></p>
                    <p><strong>License</strong></p>
                    <p><span style="font-weight: 400;">Unless otherwise stated, Soap Football and/or it’s licensors own the intellectual property rights for all material on Soap Football All intellectual property rights are reserved. You may view and/or print pages from </span><span style="font-weight: 400;">http://</span> <span style="font-weight: 400;">https://www.soapfootballchennai.com/</span><span style="font-weight: 400;"> for your own personal use subject to restrictions set in these terms and conditions.</span></p>
                    <p><strong>You must not:</strong></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Republish material from </span><a href="http://www.soapfootballhyderabad.com/"><span style="font-weight: 400;">http://www.soapfootballhyderabad.com</span></a></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Sell, rent or sub-license material from </span><a href="http://www.soapfootballhyderabad.com/"><span style="font-weight: 400;">http://www.soapfootballhyderabad.com</span></a></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Reproduce, duplicate or copy material from </span><a href="http://www.soapfootballhyderabad.com/"><span style="font-weight: 400;">http://www.soapfootballhyderabad.com</span></a></li>
                    </ul>
                    <p><span style="font-weight: 400;">Redistribute content from Soap Football(unless content is specifically made for redistribution).</span></p>
                    <p><strong>Hyper linking to our Content</strong></p>
                    <ol>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">The following organizations may link to our Web site without prior written approval:</span>
                            <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">Government agencies;</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">Search engines;</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">News organizations;</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">Online directory distributors when they list us in the directory may link to our Web site in the same manner as they hyperlink to the Web sites of other listed businesses; and</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</span></li>
                            </ul>
                        </li>
                    </ol>
                    <ol>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">These organizations may link to our home page, to publications or to other Web site information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party&#8217;s site.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">We may consider and approve in our sole discretion other link requests from the following types of organizations:</span>
                            <ul>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">commonly-known consumer and/or business information sources such as Chambers of Commerce, American Automobile Association, AARP and Consumers Union;</span></li>
                                <li style="font-weight: 400;"><a href="http://dot.com/"><span style="font-weight: 400;">dot.com</span></a><span style="font-weight: 400;"> community sites;</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">associations or other groups representing charities, including charity giving sites,</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">online directory distributors;</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">internet portals;</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">accounting, law and consulting firms whose primary clients are businesses; and</span></li>
                                <li style="font-weight: 400;"><span style="font-weight: 400;">educational institutions and trade associations.</span></li>
                            </ul>
                        </li>
                    </ol>
                    <p><span style="font-weight: 400;">We will approve link requests from these organizations if we determine that: (a) the link would not reflect unfavourably on us or our accredited businesses (for example, trade associations or other organizations representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to us from the visibility associated with the hyperlink outweighs the absence of soap football and (d) where the link is in the context of general resource information or is otherwise consistent with editorial content in a newsletter or similar product furthering the mission of the organization.</span></p>
                    <p><span style="font-weight: 400;">These organizations may link to our home page, to publications or to other Web site information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and it products or services; and (c) fits within the context of the linking party&#8217;s site.</span></p>
                    <p><span style="font-weight: 400;">If you are among the organizations listed in paragraph 2 above and are interested in linking to our website, you must notify us by sending an e-mail to soapfootballchennai@gmail.com. Please include your name, your organization name, contact information (such as a phone number and/or e-mail address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site, and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.</span></p>
                    <p><span style="font-weight: 400;">Approved organizations may hyperlink to our Web site as follows:</span></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">By use of our corporate name; or</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">By use of the uniform resource locator (Web address) being linked to; or</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">By use of any other description of our Web site or material being linked to that makes sense within the context and format of content on the linking party&#8217;s site.</span></li>
                    </ul>
                    <p><span style="font-weight: 400;">No use of Soap Football logo or other artwork will be allowed for linking absent a trademark license agreement.</span></p>
                    <p><strong>I frames</strong></p>
                    <p><span style="font-weight: 400;">Without prior approval and express written permission, you may not create frames around our Web pages or use other techniques that alter in any way the visual presentation or appearance of our Web site.</span></p>
                    <p><strong>Content Liability</strong></p>
                    <p><span style="font-weight: 400;">We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any page on your Web site or within any context containing content or materials that may be interpreted as libellous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</span></p>
                    <p><strong>Reservation of Rights</strong></p>
                    <p><span style="font-weight: 400;">We reserve the right at any time and in its sole discretion to request that you remove all links or any particular link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuing to link to our Web site, you agree to be bound to and abide by these linking terms and conditions.</span></p>
                    <p><strong>Removal of links from our website</strong></p>
                    <p><span style="font-weight: 400;">If you find any link on our Web site or any linked web site objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.</span></p>
                    <p><span style="font-weight: 400;">Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up to date.</span></p>
                    <p><strong>Disclaimer</strong></p>
                    <p><span style="font-weight: 400;">To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:</span></p>
                    <ol>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">limit or exclude our or your liability for death or personal injury resulting from negligence;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">limit or exclude our or your liability for fraud or fraudulent misrepresentation;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">limit any of our or your liabilities in any way that is not permitted under applicable law; or</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Exclude any of our or your liabilities that may not be excluded under applicable law.</span></li>
                    </ol>
                    <p><span style="font-weight: 400;">The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.</span></p>
                    <p><span style="font-weight: 400;">To the extent that the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</span></p>
                    <p><span style="font-weight: 400;">If you have any queries regarding any of our terms, please contact us.</span></p>

                </div>

            </div>
        </section>

    </div>

    <!-- Footer -->
    <div id="footer" class="non-printable">

        <!-- Copyright -->
        <p>Powered By
            <a href="http://www.freniz.com/" style="color:#33cccc !important">
        Freniz Software Solutions
      </a>
    </div>
</body>

</html>