<html>
  <head>
  <script>
    function submitPayuForm() {
      var payuForm = document.forms.payuForm;
      payuForm.submit();
    }
  </script>
  </head>
  <body onload="submitPayuForm()">
    <form action="<?php echo $this->gatewayUrl; ?>" method="post" name="payuForm">
    	<?php foreach($this->data as $key => $value){?>
    	<input type="hidden" name="<?php echo $key;?>" value="<?php echo $value;?>" />
    	<?php }?>
    </form>
  </body>
</html>
