<html>
<head>
<title> SOAPY FOOTBALL</title>
</head>
<body>
<center>

<form method="post" name="redirect" action="<?php echo $this->gatewayUrl; ?>">
<input type="hidden" name="encRequest" value="<?php echo $this->encryptedData;?>"/>
<input type="hidden" name="access_code" value="<?php echo $this->accessCode;?>"/>
 
</form>
</center>
<script language='javascript'>document.redirect.submit();</script>
</body>
</html>

