<script>
	var SEND_RESET_LINK_URL = "<?php echo $this->sendResetLinkUrl;?>";
</script>
<div class="row" ng-app="ipddesk-user">
	<div class="col-xs-12" ng-controller="forgot-password">
		
		<form ng-submit="sendResetLink()">
			<div class="form-group text-center" ng-if="successMsg">
				<label class="text-success">{{successMsg}}</label>
			</div>
			<div class="form-group text-center" ng-if="errorMsg">
				<label class="text-danger">{{errorMsg}}</label>
			</div>
			<div class="form-group text-center row">
				<label class="col-sm-4 control-label">Email</label>
				<div class="col-sm-6">
					<input type="email" ng-model="email" class="form-control" required placeholder="Email" />
				</div>
			</div>
			<div class="form-group text-center">
				<div class="col-md-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="<?php echo $this->loginUrl;?>">Back</a>
				</div>
			</div>			
		</form>
	</div>
</div>