<script type="text/javascript">
	var DO_LOGIN_URL = "<?php echo $this->doLoginUrl;?>";
</script>
<div class="row">
	<div class="col-xs-12" ng-controller="login">
	<h4 class="text-danger" ng-if="hasError">{{errorMessage}}</h4>
		<form class="form-signin {{hasError}}" ng-submit="login()">
            <h2 class="form-signin-heading text-center {{errorAnimate}}">
            <!-- <img src="<?php //echo $this->imagesPath;?>/logo.png" style="width:40px;margin-bottom:5px;"> -->
             Login</h2>
            <div class="imgcontainer"></div>
            <!-- <span ng-if="errorMsg" class="text-danger">{{errorAnimate}}</span> -->
            <input type="text" class="form-control" ng-model="username" placeholder="Username" required="" autofocus="" />
            <br>
            <input type="password" class="form-control" ng-model="password" placeholder="Password" required="" />
            <br/>
            <button class="btn btn-lg btn btn-block logobtn" ng-disabled="checked" type="submit">Login</button>
        </form>
	</div>
</div>