<script>
	var DO_RESET_PASSWORD = "<?php echo $this->doResetPasswordUrl;?>";
	var LOGIN_URL = "<?php echo $this->loginUrl;?>";
</script>
<div class="row" ng-app="ipddesk-user">
	<div class="col-xs-12" ng-controller="reset-password">
	<?php if($this->invalidResetLink){?>
	<div class="form-group">
		<label class="text-danger" style="font-size:2em">Invalid Reset Code</label>
	</div>
	<?php } else{?>
		<form ng-submit="resetPassword()">
			<div class="form-group text-center">
				<label ng-if="successMsg" class="text-success">{{successMsg}}</label>
				<label ng-if="errorMsg" class="text-danger">{{errorMsg}}</label>
			</div>
			<div class="form-group text-center row">
				<label class="col-sm-4 control-label">New Password</label>
				<div class="col-sm-6">
					<input type="password" ng-model="newPassword" class="form-control" required/>
				</div>
			</div>
			<div class="form-group text-center row">
				<label class="col-sm-4 control-label">Confirm Password</label>
				<div class="col-sm-6">
					<input type="password" ng-model="confirmPassword" class="form-control" required ng-class="{success:(newPassword == confirmPassword),danger:(newPassword != confirmPassword)}" />
				</div>
			</div>
			<div class="form-group text-center">
				<div class="col-md-10">
					<button type="submit" class="btn btn-primary">Reset Password</button>
		<?php } ?>
					<a href="<?php echo $this->loginUrl;?>" class="btn btn-success">Login</a>
				</div>
			</div>
		</form>
	</div>
</div>